<head>
   <META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=utf-8">
   <META HTTP-EQUIV="pragma" CONTENT="no-cache">
   <META HTTP-EQUIV="last-modified" CONTENT="Thu, 1 Jan 1970 00:00:00 GMT">
   <META HTTP-EQUIV="expires" CONTENT="Thu, 1 Jan 1970 00:00:00 GMT">
   <META NAME="viewport" CONTENT="width=device-width, initial-scale=1">
   <STYLE TYPE="text/css">
      <!--
         body,tr,td,th { font-size:12pt }
         a:hover { color:#DD0000; }
         a.del { color:#800000; }
         span { font-size:20pt }
         small { font-size:10pt }
         .hide { display: none; }
         .spacer { clear: both; }
         -->
   </STYLE>
   <title>歡樂惡搞</title>
   <script language="JavaScript"><!--
      //function l(e){var P=getCookie("pwdc"),N=getCookie("namec"),i;with(document){for(i=0;i<forms.length;i++){if(forms[i].pwd)with(forms[i]){pwd.value=P;}if(forms[i].name)with(forms[i]){name.value=N;}}}};onload=l;function getCookie(key, tmp1, tmp2, xx1, xx2, xx3) {tmp1 = " " + document.cookie + ";";xx1 = xx2 = 0;len = tmp1.length;	while (xx1 < len) {xx2 = tmp1.indexOf(";", xx1);tmp2 = tmp1.substring(xx1 + 1, xx2);xx3 = tmp2.indexOf("=");if (tmp2.substring(0, xx3) == key) {return(decodeURL(tmp2.substring(xx3 + 1, xx2 - xx1 - 1)));}xx1 = xx2 + 1;}return("");}
      function decodeURL(str){var s0="",i,j,s,ss,u,n,f,sss;for(i=0;i<str.length;i++){s=str.charAt(i);if(s=="+"){s0+=" ";}else{if(s!="%"){s0+=s;}else{u=0;f=1;while(true){ss="";for(j=0;j<2;j++){sss=str.charAt(++i);if(((sss>="0")&&(sss<="9"))||((sss>="a")&&(sss<="f"))||((sss>="A")&&(sss<="F"))){ss+=sss;}else{--i;break;}}n=parseInt(ss,16);if(n<=0x7f){u=n;f=1;}if((n>=0xc0)&&(n<=0xdf)){u=n&0x1f;f=2;}if((n>=0xe0)&&(n<=0xef)){u=n&0x0f;f=3;}if((n>=0xf0)&&(n<=0xf7)){u=n&0x07;f=4;}if((n>=0x80)&&(n<=0xbf)){u=(u<<6)+(n&0x3f);--f;}if(f<=1){break;}if(str.charAt(i+1)=="%"){i++;}else{break;}}s0+=String.fromCharCode(u);}}}return s0;}
      function del(d){self.location.href="./del.php?b="+12+"&d="+d;};
      //--></script>
   <!--script type="text/javascript" src="http://k0.dreamhosters.com/get_ip.php"></xscript>
      <xscript>
      document.cookie = "ipx2=" + myip;
      </xscript-->
   <script src="//www.google.com/recaptcha/api.js"></script>
   <script language="JavaScript">
      function closeWebm(ele){
      	ele = ele.parentNode.parentNode;
      	ele.previousSibling.style.display = "";
      	ele.parentNode.removeChild(ele);
      	return false;
      }
      function expandWebm(ele){
      	var sw = "<div>[<a href=\"#\" onclick=\"return closeWebm(this);\">Close</a>]</div>";
      	var html = "<video controls loop autoplay muted style=\"max-width:100%;\" src=\"" + ele.href + "\"></video>";
      	var div = document.createElement("div");
      	div.setAttribute("class", "expand");
      	div.setAttribute("style", "margin:16px;");
      	div.innerHTML = sw + html;
      	ele.style.display = "none";
      	ele.parentNode.insertBefore(div ,ele.nextSibling);
      	return false;
      }
   </script>
</head>
<body bgcolor="#FFFFEE" text="#800000" link="#0000EE" vlink="#0000EE">
   <p align=right>
      [<a href="http://komica.org/" target="_top">首頁</a>]
      [<a href="http://homu.komica.org/12/m/" target="_self">行動版</a>]
      [<a href="http://archive.komica.org/12/index.php?mode=list">檔案區</a>]
      [<a href="index.php?mode=admin">管理用</a>]
   <p align=center>
      <font color="#800000" size=5>
      <b><SPAN>歡樂惡搞</SPAN></b></font>
   <hr width="90%" size=1>
   <p>
   <center>
      <table border="0" cellspacing="0" cellpadding="1">
         <tr align=center>
            <td>
               <script type="text/javascript" src="http://sage.komica.org/js/adsense_leader3.js"></script>
      </table>
   </center>
   <p>
   <hr>
   <p>
      <script type="text/javascript">ReDirUrl = "http://homu.komica.org/12/m/"</script>
      <script type="text/javascript" src="http://homu.komica.org/12/MobileRedirection.js"></script>
   <center>
      <form action="index.php" method="POST" enctype="multipart/form-data">
         <input type=hidden name=mode value="regist"><input type=hidden name="MAX_FILE_SIZE" value="3145728">
         <table border=0 cellpadding=1 cellspacing=1>
            <tr>
               <td bgcolor=#eeaa88><b>名　　稱</b></td>
               <td><input type=text name=name size="28"></td>
            </tr>
            <tr>
               <td bgcolor=#eeaa88><b>E-mail</b></td>
               <td><input type=text name=email size="28">&nbsp;<input type=submit value="送　出"></td>
            </tr>
            <tr>
               <td bgcolor=#eeaa88><b>題　　名</b></td>
               <td><input type=text name=sub size="35"></td>
            </tr>
            <tr>
               <td bgcolor=#eeaa88><b>內　　文</b></td>
               <td><textarea name=comx5113 cols="48" rows="4" wrap=soft></textarea></td>
            </tr>
            <tr>
               <td bgcolor=#eeaa88><b>附加圖檔</b></td>
               <td><input type=file name=upfile size="35">&nbsp;[<label><input type=checkbox name=textonly value=on>無貼圖</label>]</td>
            </tr>
            <tr>
               <td bgcolor=#eeaa88><b>刪除密碼</b></td>
               <td><input type=password name=pwd size=8 maxlength=8 value=""><small>(刪除文章用。英數字8字元以內)</small></td>
            </tr>
            <tr>
               <td bgcolor=#eeaa88><b>畫像認證</b></td>
               <td align=left height="90">
                  <div class="g-recaptcha" data-sitekey="6LeuBPkSAAAAAJKaNezSYDM3ZL4-jfSJu9cWpp_-"></div>
            <tr>
               <td colspan=2>
                  <small>
                     <LI>可附加圖檔類型：GIF, JPG, PNG, WEBM，瀏覽器才能正常附加圖檔。
                     <LI>圖片寛 250像素、高 250像素以上時自動縮小尺寸顯示。回文可貼圖。
                     <LI>附加圖檔最大上限 3072 KB。在E-mail欄填入sage時，回應不會有推文效果。
                     <li>投稿時請點擊畫像認證後，再按下 [送出] 按鈕提交。
                     <li>鬧板、攻擊性發言、煽動性發言請無視（回應者也無視），並用<u>del</u>或在管理部回報。
                     <li>
                        不好笑的新聞請貼到<a href="http://homu.komica.org/25/index.htm">新聞</a>板。
                  </small>
               </td>
            </tr>
         </table>
      </form>
   </center>
   <hr><div class="container"><form action="index.php" method=POST><table cellpadding=2 cellspacing=0 border=0 width="100%"><tr><th bgcolor="#DDDDEE">題名一覧</th></tr></table>
   <table width="100%"><tr><td width="50%"><table width="100%"><tr><td bgcolor="#FFFFEE"><font size="-1"><a href="index.php?res=1642446">開學日 國中新生 當妹面跳樓亡 疑擔心無...</a></font></td></tr><tr><td bgcolor="#EEDDDD"><font size="-1"><a href="index.php?res=1642389">wwwwww</a></font></td></tr><tr><td bgcolor="#FFFFEE"><font size="-1"><a href="index.php?res=1642083">無本文</a></font></td></tr><tr><td bgcolor="#EEDDDD"><font size="-1"><a href="index.php?res=1642417">在台灣待一個月，肯定會變傻</a></font></td></tr><tr><td bgcolor="#FFFFEE"><font size="-1"><a href="index.php?res=1642369">捷運真的需要搏愛座嗎？</a></font></td></tr><tr><td bgcolor="#EEDDDD"><font size="-1"><a href="index.php?res=1642425">為什麼老女人特別盛產白目？</a></font></td></tr><tr><td bgcolor="#FFFFEE"><font size="-1"><a href="index.php?res=1642265">輕熟女遭劈腿重度憂鬱5年　「寶可夢」幫她走出情傷</a></font></td></tr><tr><td bgcolor="#EEDDDD"><font size="-1"><a href="index.php?res=1642427">我之前是在外拍的，而我交照的原則是： 「...</a></font></td></tr><tr><td bgcolor="#FFFFEE"><font size="-1"><a href="index.php?res=1642421">無本文</a></font></td></tr><tr><td bgcolor="#EEDDDD"><font size="-1"><a href="index.php?res=1641950">島民會擔心自己的收藏 被家人當垃圾處理掉...</a></font></td></tr></table></td><td width="50%"><table width="100%"><tr><td bgcolor="#FFFFEE"><font size="-1"><a href="index.php?res=1641912">嗚喔 好比利</a></font></td></tr><tr><td bgcolor="#EEDDDD"><font size="-1"><a href="index.php?res=1642391">台灣在InterNations網站針對旅...</a></font></td></tr><tr><td bgcolor="#FFFFEE"><font size="-1"><a href="index.php?res=1642405">【惡靈】男玩寶可夢「中邪」　淒厲叫聲更勝...</a></font></td></tr><tr><td bgcolor="#EEDDDD"><font size="-1"><a href="index.php?res=1642303">在台灣，如果仁的背後有金源後盾，大概就能...</a></font></td></tr><tr><td bgcolor="#FFFFEE"><font size="-1"><a href="index.php?res=1642316">有沒有DAVE RODGERS跟凱吉哥是...</a></font></td></tr><tr><td bgcolor="#EEDDDD"><font size="-1"><a href="index.php?res=1642385">無本文</a></font></td></tr><tr><td bgcolor="#FFFFEE"><font size="-1"><a href="index.php?res=1642311">你們這些王八蛋敢叫我全名試試看</a></font></td></tr><tr><td bgcolor="#EEDDDD"><font size="-1"><a href="index.php?res=1642375">【麥香雞】慘遭性侵　「大腸包小腸」影片瘋傳</a></font></td></tr><tr><td bgcolor="#FFFFEE"><font size="-1"><a href="index.php?res=1642169">台中這家武器店開這麼久都沒人貼喔?</a></font></td></tr><tr><td bgcolor="#EEDDDD"><font size="-1"><a href="index.php?res=1642111">小時不讀書  長大當妓者</a></font></td></tr></table></td></tr></table><hr>
   .
   <div style="float:right; padding-left:10px; padding-bottom:10px;">
   <br><table border="0" cellspacing="0" cellpadding="0">
   <tr><td>
   <ins data-revive-zoneid="1" data-revive-id="6aadeebc0bbe39c5c6790782485ce071"></ins><script async src="//revive.komica.org/ox/www/delivery/asyncjs.php"></script>
   </table>
   </div>
   檔名：<a href="http://kstatic.tk/12/src/1472546298125.jpg" target=_blank>1472546298125.jpg</a>-(93091 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://kstatic.tk/12/src/1472546298125.jpg" target=_blank><img src=http://kstatic.tk/12/thumb/1472546298125s.jpg border=0 align=left width=251 height=141 hspace=20 alt="93091 B"></a><input type=checkbox name="1642446" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)16:38:18 ID:71qhWTbM No.1642446 <a class=del href="javascript:void(0);" onclick="del(1642446);return(false);">del</a> &nbsp; 
   [<a href=index.php?res=1642446>返信</a>]<br>
   <blockquote>開學日 國中新生 當妹面跳樓亡<br />疑擔心無法適應新學校 父崩潰痛哭<br />2016年08月30日      <br /><br />昨開學，新北市一名剛升國中的鍾姓少年疑因擔心無法適應新學校，<br />竟在住處十二樓頂，當著妹妹面跳樓身亡。<br /><br />目擊的社區主委說，當時鍾少跨坐在女兒牆時，<br /><font color=789922>&gt;&gt;鍾的妹妹還不停勸說：「你要做什麼？是不是不想去上學？不要這樣！」但鍾仍縱身往下跳；</font><br />鍾父看到兒子倒臥血泊中，崩潰哭喊：「你為什麼要這麼做？」<br />社工已介入輔導飽受驚嚇的鍾家妹妹。<br /><br /><font color=789922>&gt;&gt;警方調查，鍾姓少年（十二歲）和妹妹（十一歲）與父親在新北土城租屋。 </font><br /><br />島民如果有一個這麼關心自己的妹妹<br />還會想自殺嗎？？？</blockquote><div class=spacer></div></div><br clear=left><hr>
   檔名：<a href="http://kstatic.tk/12/src/1472535373998.jpg" target=_blank>1472535373998.jpg</a>-(39166 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://kstatic.tk/12/src/1472535373998.jpg" target=_blank><img src=http://kstatic.tk/12/thumb/1472535373998s.jpg border=0 align=left width=251 height=122 hspace=20 alt="39166 B"></a><input type=checkbox name="1642389" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)13:36:13 ID:Bo3JoLyE No.1642389 <a class=del href="javascript:void(0);" onclick="del(1642389);return(false);">del</a> &nbsp; 
   [<a href=index.php?res=1642389>返信</a>]<br>
   <blockquote>wwwwww</blockquote><font color="#707070">回應有3篇被省略。要閱讀所有回應請按下返信連結。</font><br>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642426" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)15:52:48 ID:bUNZvU/o No.1642426 <a class=del href="javascript:void(0);" onclick="del(1642426);return(false);">del</a> &nbsp; 
   <blockquote>台灣唯一的優點就是不會被恐攻<br />因為實在太邊緣</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642428" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)15:58:27 ID:BZn9sq3Y No.1642428 <a class=del href="javascript:void(0);" onclick="del(1642428);return(false);">del</a> &nbsp; 
   <blockquote>還有一堆女人幹</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642430" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)16:01:44 ID:5o63aqHc No.1642430 <a class=del href="javascript:void(0);" onclick="del(1642430);return(false);">del</a> &nbsp; 
   <blockquote>歐洲國家都快變歐拉伯了&#44;到處都是伊斯蘭&#44;要你守他們的規則</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642432" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)16:05:12 ID:jc2cIVhc No.1642432 <a class=del href="javascript:void(0);" onclick="del(1642432);return(false);">del</a> &nbsp; 
   <blockquote><font color=789922>&gt;&gt;No.1642416</font><br />請問一下，克里米亞還有車臣是在南極嗎？</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642434" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)16:14:29 ID:bAAjt8P6 No.1642434 <a class=del href="javascript:void(0);" onclick="del(1642434);return(false);">del</a> &nbsp; 
   <blockquote>這邊是因為各種原因常常要港台兩邊跑的香港島民<br />我的感想是台灣不論房價物價都很低、吃喝也很方便<br />只是單純的住下來，比如過退休生活的話台灣真的是不錯的選擇<br />但要我在台找工作打拼卻是敬謝不敏，台灣的工作環境實在太病態www</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642437" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)16:25:17 ID:pkaaMGmc No.1642437 <a class=del href="javascript:void(0);" onclick="del(1642437);return(false);">del</a> &nbsp; 
   <blockquote><font color=789922>&gt;No.1642434</font><br />物價房價低個狗頭啦wwwww<br />唉感謝你覺得台灣方便，不過台灣就業環境病態，香港居住環境病態，我們兩國根本跟適合居住搭不上邊</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642439" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)16:27:07 ID:TGK9IHHU No.1642439 <a class=del href="javascript:void(0);" onclick="del(1642439);return(false);">del</a> &nbsp; 
   <blockquote>girls is easy</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642442" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)16:29:42 ID:JYQeq2T2 No.1642442 <a class=del href="javascript:void(0);" onclick="del(1642442);return(false);">del</a> &nbsp; 
   <blockquote><font color=789922>&gt;歐洲國家的居住品質隨便都能甩掉台灣</font><br />洋人動不動就有阿拉花瓜過來扔炸彈<br />你要感謝支那他們頂多只在我們路上便便而已</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642443" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)16:33:18 ID:yPxa0PB2 No.1642443 <a class=del href="javascript:void(0);" onclick="del(1642443);return(false);">del</a> &nbsp; 
   <blockquote>評估內容不包含房價</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642445" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)16:35:15 ID:A7Tm3Hpw No.1642445 <a class=del href="javascript:void(0);" onclick="del(1642445);return(false);">del</a> &nbsp; 
   <blockquote><font color=789922>&gt;1642437</font><br />其實物價低是有對比的&#44;就澳門來說.<br /><br />澳門幣比台幣大約 1:4 ..<br /><br />基本大學出來&#44;起薪 1W 對應台幣就是 4W.<br /><br />我在台灣讀大學時也覺得台灣吃飯好便宜&#44;<br /><br />在澳門一個鰻魚飯最少50元澳門幣&#44;<br /><br />台灣只要120台幣&#44;除下來就是30元&#44;<br /><br />30元在澳門雞扒飯也快買不起..</blockquote></td></tr></table>
   <div class=spacer></div></div><br clear=left><hr>
   檔名：<a href="http://kstatic.tk/12/src/1472406718537.png" target=_blank>1472406718537.png</a>-(274074 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://kstatic.tk/12/src/1472406718537.png" target=_blank><img src=http://kstatic.tk/12/thumb/1472406718537s.jpg border=0 align=left width=250 height=144 hspace=20 alt="274074 B"></a><input type=checkbox name="1642083" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/29(一)01:51:58 ID:eyu/uF0k No.1642083 <a class=del href="javascript:void(0);" onclick="del(1642083);return(false);">del</a> &nbsp; 
   [<a href=index.php?res=1642083>返信</a>]<br>
   <blockquote>無本文</blockquote><table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642318" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)02:32:57 ID:5o63aqHc No.1642318 <a class=del href="javascript:void(0);" onclick="del(1642318);return(false);">del</a> &nbsp; 
   <blockquote>假的!</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642323" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)03:39:53 ID:ofOYZo.2 No.1642323 <a class=del href="javascript:void(0);" onclick="del(1642323);return(false);">del</a> &nbsp; 
   <br>檔名：<a href="http://kstatic.tk/12/src/1472499593964.jpg" target=_blank>1472499593964.jpg</a>-(185413 B)<br><a href="http://kstatic.tk/12/src/1472499593964.jpg" target=_blank><img src=http://kstatic.tk/12/thumb/1472499593964s.jpg border=0 align=left width=125 height=71 hspace=20 alt="185413 B"></a><blockquote><font color=789922>&gt; 天涯社區</font></blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642345" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)08:19:34 ID:mJIVgmsQ No.1642345 <a class=del href="javascript:void(0);" onclick="del(1642345);return(false);">del</a> &nbsp; 
   <br>檔名：<a href="http://kstatic.tk/12/src/1472516374714.jpg" target=_blank>1472516374714.jpg</a>-(46694 B)<br><a href="http://kstatic.tk/12/src/1472516374714.jpg" target=_blank><img src=http://kstatic.tk/12/thumb/1472516374714s.jpg border=0 align=left width=125 height=73 hspace=20 alt="46694 B"></a><blockquote>無本文</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642346" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)08:22:09 ID:chq0wn1E No.1642346 <a class=del href="javascript:void(0);" onclick="del(1642346);return(false);">del</a> &nbsp; 
   <blockquote>我去美國留學念美國書 受美國的教育<br />我就變美國人了<br />真會硬凹www</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642347" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)08:24:25 ID:HHSG6bhc No.1642347 <a class=del href="javascript:void(0);" onclick="del(1642347);return(false);">del</a> &nbsp; 
   <blockquote>現在就算蔡總統說臺灣是中國不可分割的一部分 吱持者還是會含類吱持啦....跟川普支持者還有智障藍蛆有87%像</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642348" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)08:38:33 ID:4aOlaqrg No.1642348 <a class=del href="javascript:void(0);" onclick="del(1642348);return(false);">del</a> &nbsp; 
   <br>檔名：<a href="http://kstatic.tk/12/src/1472517513711.jpg" target=_blank>1472517513711.jpg</a>-(26388 B)<br><a href="http://kstatic.tk/12/src/1472517513711.jpg" target=_blank><img src=http://kstatic.tk/12/thumb/1472517513711s.jpg border=0 align=left width=90 height=126 hspace=20 alt="26388 B"></a><blockquote>歡樂惡搞什麼時候回來?</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642358" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)09:55:00 ID:Fa8bhVDQ No.1642358 <a class=del href="javascript:void(0);" onclick="del(1642358);return(false);">del</a> &nbsp; 
   <br>檔名：<a href="http://kstatic.tk/12/src/1472522100162.jpg" target=_blank>1472522100162.jpg</a>-(9389 B)<br><a href="http://kstatic.tk/12/src/1472522100162.jpg" target=_blank><img src=http://kstatic.tk/12/thumb/1472522100162s.jpg border=0 align=left width=118 height=126 hspace=20 alt="9389 B"></a><blockquote><font color=789922>&gt;&gt;1642323</font><br />每看到這張傑作就一定要婊一次<br />468291是不曉得哪位先不說<br />哪個智障會用「大陸」來稱呼人，是他媽的美洲大陸還是非洲大陸<br />這個人渣擺明了就是支那賤畜反串，結果偽裝真的是爛得有剩</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642363" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)11:16:37 ID:ok3rmOw6 No.1642363 <a class=del href="javascript:void(0);" onclick="del(1642363);return(false);">del</a> &nbsp; 
   <blockquote><font color=789922>&gt;&gt;No.1642346</font><br />可是林書豪也不是台灣人啊</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642376" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)12:49:43 ID:EZj.hYqg No.1642376 <a class=del href="javascript:void(0);" onclick="del(1642376);return(false);">del</a> &nbsp; 
   <blockquote><font color=789922>&gt;&gt;No.1642358</font><br />外wwwww來wwwwwwww種wwwwwwwwwww<br />沒看過wwwwwww法國島民喔wwwwww</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642444" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)16:34:33 ID:EH1q9e/w No.1642444 <a class=del href="javascript:void(0);" onclick="del(1642444);return(false);">del</a> &nbsp; 
   <br>檔名：<a href="http://kstatic.tk/12/src/1472546073706.png" target=_blank>1472546073706.png</a>-(133679 B)<br><a href="http://kstatic.tk/12/src/1472546073706.png" target=_blank><img src=http://kstatic.tk/12/thumb/1472546073706s.jpg border=0 align=left width=125 height=90 hspace=20 alt="133679 B"></a><blockquote><font color=789922>&gt;&gt;1642358</font><br />媽的<br />外來種臭都聞到了</blockquote></td></tr></table>
   <div class=spacer></div></div><br clear=left><hr>
   檔名：<a href="http://kstatic.tk/12/src/1472541820709.png" target=_blank>1472541820709.png</a>-(30995 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://kstatic.tk/12/src/1472541820709.png" target=_blank><img src=http://kstatic.tk/12/thumb/1472541820709s.jpg border=0 align=left width=250 height=250 hspace=20 alt="30995 B"></a><input type=checkbox name="1642417" value=delete><font color=#cc1105 size=+1><b>在台灣待一個月，肯定會變傻</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)15:23:40 ID:YIHKA5tA No.1642417 <a class=del href="javascript:void(0);" onclick="del(1642417);return(false);">del</a> &nbsp; 
   [<a href=index.php?res=1642417>返信</a>]<br>
   <blockquote>金燦榮話鋒一轉提到，他曾在台灣待了一個月，回來後人卻變傻了，因為台灣的的消息都是垃圾消息，完全是一個封閉小島，資訊雖然多，卻是垃圾資訊。<br /><br />金燦榮表示，外面發生的很多事例如金融危機等決定人類命運的重大事件，台灣人是不知道的，是一種獨特的資訊封閉，灌滿了垃圾以後，台灣人沒有空間、時間接受有價值的資訊，是很奇怪的一種資訊生態，雖然美國年年年把台灣的新聞自由排第一，但是如果在那生活一個禮拜，就會知道人會變傻。</blockquote><table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642419" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b><a href="/cdn-cgi/l/email-protection#4231232527">無名</a></b></font> 16/08/30(二)15:30:16 ID:xRrHP2ww No.1642419 <a class=del href="javascript:void(0);" onclick="del(1642419);return(false);">del</a> &nbsp; 
   <blockquote>: 1.媒體來源:<br />: 三立新聞<br />: 2.完整新聞標題:<br />: 陸學者：在台灣待一個月，肯定會變傻</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642441" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)16:28:58 ID:pkaaMGmc No.1642441 <a class=del href="javascript:void(0);" onclick="del(1642441);return(false);">del</a> &nbsp; 
   <blockquote>等等？426學者覺得台灣新聞封閉？<br />台灣的新聞素質是不怎麼樣啦不過wwwwww</blockquote></td></tr></table>
   <div class=spacer></div></div><br clear=left><hr>
   檔名：<a href="http://kstatic.tk/12/src/1472531097362.jpg" target=_blank>1472531097362.jpg</a>-(1620369 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://kstatic.tk/12/src/1472531097362.jpg" target=_blank><img src=http://kstatic.tk/12/thumb/1472531097362s.jpg border=0 align=left width=251 height=188 hspace=20 alt="1620369 B"></a><input type=checkbox name="1642369" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)12:24:57 ID:1dhhJU86 No.1642369 <a class=del href="javascript:void(0);" onclick="del(1642369);return(false);">del</a> &nbsp; 
   [<a href=index.php?res=1642369>返信</a>]<br>
   <blockquote>捷運真的需要搏愛座嗎？</blockquote><font color="#707070">回應有14篇被省略。要閱讀所有回應請按下返信連結。</font><br>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642404" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)14:29:01 ID:4i5Bomzg No.1642404 <a class=del href="javascript:void(0);" onclick="del(1642404);return(false);">del</a> &nbsp; 
   <blockquote>說穿了就是大家根本都沒公德心才會出現博愛座這種機型產物。<br /><br />要是打從一開始大家都懂得禮讓老弱婦孺，<br />老弱婦孺也懂得讓給更需要的人的話哪需要博愛座？<br />就是因為每個人都抱著先搶先贏的心態才出現代有強制禮讓性質的博愛座。<br /><br />另外博愛沒有老人優先的道理，<br />今天一個老人、一個斷手年輕人、一個斷腳的小孩，<br />誰比較有資格坐博愛座？</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642407" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)14:39:39 ID:VzYKG95w No.1642407 <a class=del href="javascript:void(0);" onclick="del(1642407);return(false);">del</a> &nbsp; 
   <blockquote><font color=789922>&gt;&gt;No.1642404</font><br />有智慧型手機可以拍照取暖的那個</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642408" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)14:47:49 ID:hLb8NOiE No.1642408 <a class=del href="javascript:void(0);" onclick="del(1642408);return(false);">del</a> &nbsp; 
   <blockquote><font color=789922>&gt;No.1642404</font><br />斷手斷腳的中年人</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642420" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)15:33:49 ID:x77pSn12 No.1642420 <a class=del href="javascript:void(0);" onclick="del(1642420);return(false);">del</a> &nbsp; 
   <blockquote>https://www.youtube.com/watch?v=dYqW7UdFDcY</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642422" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)15:37:57 ID:3pRg8PY6 No.1642422 <a class=del href="javascript:void(0);" onclick="del(1642422);return(false);">del</a> &nbsp; 
   <blockquote><font color=789922>&gt;&gt;No.1642404</font><br /><br />性無能的那個</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642423" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)15:39:45 ID:OUYE3WO2 No.1642423 <a class=del href="javascript:void(0);" onclick="del(1642423);return(false);">del</a> &nbsp; 
   <blockquote><font color=789922>&gt;No.1642395</font><br />看那手機的角度跟照片的角度 <br />不是他拍的 拍的人剛好被遮住惹</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642431" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)16:03:45 ID:T43PLg4c No.1642431 <a class=del href="javascript:void(0);" onclick="del(1642431);return(false);">del</a> &nbsp; 
   <blockquote>搏愛座我只會讓孕婦<br />或是手抱嬰兒的家長<br />60~65歲以上手拿拐杖的長者<br /><br />其餘有已經會走會站的小孩的家長<br />50~5X歲還硬朗的人 <br />先坐先贏 要讓坐等我下車<br /><br />咳嗽 眼神 言語示意一概裝死</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642436" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)16:20:52 ID:xCo4McvM No.1642436 <a class=del href="javascript:void(0);" onclick="del(1642436);return(false);">del</a> &nbsp; 
   <blockquote><font color=789922>&gt;No.1642431</font><br />你歧視殘障喔</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642438" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)16:25:26 ID:RQ/vQVx. No.1642438 <a class=del href="javascript:void(0);" onclick="del(1642438);return(false);">del</a> &nbsp; 
   <blockquote><font color=789922>&gt;&gt; 殘障</font><br />殘障不是可以申請專車接送？<br />不然就是請親朋好友幫忙<br />明知道自己行動不便硬要上大眾交通工具<br />根本就是存心要給周遭的人添麻煩</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642440" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)16:27:30 ID:JYQeq2T2 No.1642440 <a class=del href="javascript:void(0);" onclick="del(1642440);return(false);">del</a> &nbsp; 
   <blockquote><font color=789922>&gt;&gt;No.1642404</font><br />奶大的那一個</blockquote></td></tr></table>
   <div class=spacer></div></div><br clear=left><hr>
   <input type=checkbox name="1642425" value=delete><font color=#cc1105 size=+1><b>為什麼老女人特別盛產白目？</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)15:48:42 ID:G7pp6/Ec No.1642425 <a class=del href="javascript:void(0);" onclick="del(1642425);return(false);">del</a> &nbsp; 
   [<a href=index.php?res=1642425>返信</a>]<br>
   <blockquote>為什麼老女人特別盛產白目？<br /><br />個人認為這和社會普遍較為忍讓女性有關，你們覺得呢？</blockquote><table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642433" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)16:06:53 ID:oU7BMpHs No.1642433 <a class=del href="javascript:void(0);" onclick="del(1642433);return(false);">del</a> &nbsp; 
   <blockquote>他們那時代的教育觀念造就現在的現象</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642435" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)16:19:16 ID:xCo4McvM No.1642435 <a class=del href="javascript:void(0);" onclick="del(1642435);return(false);">del</a> &nbsp; 
   <blockquote>果然沒有當過兵的人容易自我意識過剩<br />堅決女人要平等 就要去當兵<br />不然就別在那邊靠北 回歸男主外女主內的社會</blockquote></td></tr></table>
   <div class=spacer></div></div><br clear=left><hr>
   檔名：<a href="http://kstatic.tk/12/src/1472477436371.jpg" target=_blank>1472477436371.jpg</a>-(88016 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://kstatic.tk/12/src/1472477436371.jpg" target=_blank><img src=http://kstatic.tk/12/thumb/1472477436371s.jpg border=0 align=left width=250 height=188 hspace=20 alt="88016 B"></a><input type=checkbox name="1642265" value=delete><font color=#cc1105 size=+1><b>輕熟女遭劈腿重度憂鬱5年　「寶可夢」幫她走出情傷</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/29(一)21:30:36 ID:XJBkxEtw No.1642265 <a class=del href="javascript:void(0);" onclick="del(1642265);return(false);">del</a> &nbsp; 
   [<a href=index.php?res=1642265>返信</a>]<br>
   <blockquote>新北市一名32歲的軟體工程師「小君」，畢業後就進入某科技公司工作，原本她和公司的男同事交往3年多，兩人已經論及婚嫁，沒想到女方從友人得知，男友在外搞劈腿，後來自己更是親眼看見，讓她整個心情大受打擊<br /><br />卻也因此罹患的重度憂鬱症。5年多來小君因此無法外出工作，甚至還足不出戶，即便定期就醫，情況也未明顯改善<br /><br />就在手機遊戲《精靈寶可夢GO》本月初在台灣上線後，小君也在友人的鼓勵下開始接觸，最後在友人的陪同下，每晚都會外出1-2小時出門抓寶，而且也增加聊天話題，讓她慢慢地敞開心房，願意分享過去的情傷<br /><br />也因為慢慢地打開心門，小君自己也覺得情況愈來愈好，就連抗憂鬱症的藥劑量也減少。這樣的情況讓長期幫小君治療的亞東醫院精神科醫師吳珮全得知後也大感興奮</blockquote><font color="#707070">回應有2篇被省略。要閱讀所有回應請按下返信連結。</font><br>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642271" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/29(一)21:49:25 ID:2su196Zc No.1642271 <a class=del href="javascript:void(0);" onclick="del(1642271);return(false);">del</a> &nbsp; 
   <blockquote>不就是他媽的出去運動刺激腦內啡分泌減緩憂鬱&#44;我以為這是常識?</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642273" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/29(一)21:53:57 ID:Ocz8QcDE No.1642273 <a class=del href="javascript:void(0);" onclick="del(1642273);return(false);">del</a> &nbsp; 
   <blockquote>不就是他媽的出去運動刺激海洛因分泌減緩憂鬱&#44;我以為這是常識?</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642275" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/29(一)22:02:09 ID:S0tC.OqA No.1642275 <a class=del href="javascript:void(0);" onclick="del(1642275);return(false);">del</a> &nbsp; 
   <blockquote>不就是他媽跟醫生百合刺激海洛因分泌減緩憂鬱&#44;我以為這是常識?</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642289" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/29(一)23:14:12 ID:6wiZqmyU No.1642289 <a class=del href="javascript:void(0);" onclick="del(1642289);return(false);">del</a> &nbsp; 
   <blockquote>不就是他媽的出去幹鮑魚刺激伯朗咖啡分泌減緩憂鬱&#44;我以為這是常識?</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642290" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/29(一)23:17:49 ID:MkJhuq9I No.1642290 <a class=del href="javascript:void(0);" onclick="del(1642290);return(false);">del</a> &nbsp; 
   <blockquote>不就是他媽的出去運動刺激腦內啡分泌減緩憂鬱&#44;我以為這是常識?</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642328" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)04:45:42 ID:ehpWmsDs No.1642328 <a class=del href="javascript:void(0);" onclick="del(1642328);return(false);">del</a> &nbsp; 
   <blockquote>不就是他媽的中出運動刺激腦內啡分泌減緩憂鬱&#44;我以為這是常識?</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642333" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)05:47:45 ID:TgXnBhzw No.1642333 <a class=del href="javascript:void(0);" onclick="del(1642333);return(false);">del</a> &nbsp; 
   <blockquote>不就是他媽的出去受精刺激咖啡因分泌減緩憂鬱&#44;我以為這是常識?</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642382" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)13:18:46 ID:YxPCsRUM No.1642382 <a class=del href="javascript:void(0);" onclick="del(1642382);return(false);">del</a> &nbsp; 
   <blockquote>不就是他媽媽出去運動刺激鮑魚分泌減緩憂鬱&#44;我以為這是常識?</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642410" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b><a href="/cdn-cgi/l/email-protection#285b494f4d">無名</a></b></font> 16/08/30(二)14:51:52 ID:MJmYUME6 No.1642410 <a class=del href="javascript:void(0);" onclick="del(1642410);return(false);">del</a> &nbsp; 
   <blockquote>一群造樣造句的低能</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642429" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)16:00:21 ID:f2x0lLhg No.1642429 <a class=del href="javascript:void(0);" onclick="del(1642429);return(false);">del</a> &nbsp; 
   <blockquote>你看我玩了寶可夢<br />不只人變美了<br />頭腦變聰明了<br />成績100分<br />還交了新男友<br />走出情傷不再憂鬱</blockquote></td></tr></table>
   <div class=spacer></div></div><br clear=left><hr>
   檔名：<a href="http://kstatic.tk/12/src/1472543735619.png" target=_blank>1472543735619.png</a>-(295599 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://kstatic.tk/12/src/1472543735619.png" target=_blank><img src=http://kstatic.tk/12/thumb/1472543735619s.jpg border=0 align=left width=150 height=250 hspace=20 alt="295599 B"></a><input type=checkbox name="1642427" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)15:55:35 ID:VWz0D6A6 No.1642427 <a class=del href="javascript:void(0);" onclick="del(1642427);return(false);">del</a> &nbsp; 
   [<a href=index.php?res=1642427>返信</a>]<br>
   <blockquote>我之前是在外拍的，而我交照的原則是：<br />「幹你娘修爆」<br />沒錯，就是幹你娘修爆，老子才不管甚麼貧乳還男角三小的，每次交的照就是姬芭大暴乳。小奶修成大奶，美乳產成巨乳。大奶拍F送I，跟把整個照片的內容全塞滿奶子沒兩樣。<br /><br />我還記得，我那個月修照25天，摳捨跑來跟我說，這個月光奶子照塞就滿二十六T，你有頭緒嗎？<br /><br />我他媽的怎麼會知道。</blockquote><div class=spacer></div></div><br clear=left><hr>
   檔名：<a href="http://kstatic.tk/12/src/1472542607132.jpg" target=_blank>1472542607132.jpg</a>-(65557 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://kstatic.tk/12/src/1472542607132.jpg" target=_blank><img src=http://kstatic.tk/12/thumb/1472542607132s.jpg border=0 align=left width=250 height=197 hspace=20 alt="65557 B"></a><input type=checkbox name="1642421" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)15:36:47 ID:ptNhkVpU No.1642421 <a class=del href="javascript:void(0);" onclick="del(1642421);return(false);">del</a> &nbsp; 
   [<a href=index.php?res=1642421>返信</a>]<br>
   <blockquote>無本文</blockquote><div class=spacer></div></div><br clear=left><hr>
   檔名：<a href="http://kstatic.tk/12/src/1472375404012.png" target=_blank>1472375404012.png</a>-(1182718 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://kstatic.tk/12/src/1472375404012.png" target=_blank><img src=http://kstatic.tk/12/thumb/1472375404012s.jpg border=0 align=left width=250 height=177 hspace=20 alt="1182718 B"></a><input type=checkbox name="1641950" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/28(日)17:10:04 ID:rAlpVlvI No.1641950 <a class=del href="javascript:void(0);" onclick="del(1641950);return(false);">del</a> &nbsp; 
   [<a href=index.php?res=1641950>返信</a>]<br>
   <blockquote>島民會擔心自己的收藏<br />被家人當垃圾處理掉嗎?</blockquote><font color="#707070">回應有14篇被省略。要閱讀所有回應請按下返信連結。</font><br>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642313" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)02:02:45 ID:D1VdkFIM No.1642313 <a class=del href="javascript:void(0);" onclick="del(1642313);return(false);">del</a> &nbsp; 
   <blockquote>我媽的反應<br />「啊這妹妹的ㄋㄟㄋㄟ怎麼比頭大」<br />「這個妹妹金勾椎ㄋㄟ」<br />「要買沒關係 記得留錢吃飯ㄋㄟ」</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642336" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)06:52:42 ID:spcvtNCE No.1642336 <a class=del href="javascript:void(0);" onclick="del(1642336);return(false);">del</a> &nbsp; 
   <blockquote>不會<br />年輕時和內人相識她就知道我的愛好<br />當時家裏早已一堆漫畫玩具<br />反而是累積到現在我自己要出清過生活<br />她還替我捨不得</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642337" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)07:41:50 ID:yQ.AAhmQ No.1642337 <a class=del href="javascript:void(0);" onclick="del(1642337);return(false);">del</a> &nbsp; 
   <blockquote><font color=789922>&gt;&gt;1642336</font><br />書法哥是ni?</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642340" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)07:47:18 ID:Rp3difms No.1642340 <a class=del href="javascript:void(0);" onclick="del(1642340);return(false);">del</a> &nbsp; 
   <blockquote><font color=789922>&gt;No.1642313</font><br />跟我媽反應一模一樣<br />倒是我爸<br />有次問我為什麼不買男的<br />直到我找出比利figma圖給他看w</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642361" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)10:58:09 ID:xgzAACXw No.1642361 <a class=del href="javascript:void(0);" onclick="del(1642361);return(false);">del</a> &nbsp; 
   <blockquote>某天放學回家<br />我媽：你那些新買的公仔我看沒地方擺，所以幫你把書櫃的參考書給回收了，順便幫你擺上去(*ﾟ∀ﾟ*)	<br />我：我說...書櫃裡好像有我買來要考試用的書(´・ω・`)</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642364" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)11:19:18 ID:KZeICvpA No.1642364 <a class=del href="javascript:void(0);" onclick="del(1642364);return(false);">del</a> &nbsp; 
   <br>檔名：<a href="http://kstatic.tk/12/src/1472527158174.jpg" target=_blank>1472527158174.jpg</a>-(11451 B)<br><a href="http://kstatic.tk/12/src/1472527158174.jpg" target=_blank><img src=http://kstatic.tk/12/thumb/1472527158174s.jpg border=0 align=left width=94 height=125 hspace=20 alt="11451 B"></a><blockquote>前幾年我媽把我小學時去看酷斯拉電影買的兩個酷斯頭手偶拿去送雙胞胎姪子<br />雖然說酷斯拉電影很難看但是我覺得那手偶做得還不錯啊 <br />現在要上哪去找那麼大又便宜的怪獸頭<br />重點是它還有吼叫音效可以按<br />居然就這樣隨便送人</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642365" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)11:33:49 ID:qjTCgcck No.1642365 <a class=del href="javascript:void(0);" onclick="del(1642365);return(false);">del</a> &nbsp; 
   <blockquote><font color=789922>&gt;&gt;No.1642364</font><br />我記得我的是肯德基全家餐送的<br />那音效真的很讚<br />但是當年一直按讓我爸媽抓狂所以電池被拔掉...</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642413" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)15:04:00 ID:.Pg.NrXc No.1642413 <a class=del href="javascript:void(0);" onclick="del(1642413);return(false);">del</a> &nbsp; 
   <blockquote>不知道這樣算不算被&quot;家人&quot;丟掉<br />國小還國中時有一整套的鋼練，被繼父丟掉<br />也沒有任何理由，就這樣被丟了<br />父母璃婚後，並各自成立家庭後<br />我就是那個多出來的人<br />尤其是丟掉那些漫畫後<br />使我更深刻的體會這點<br />從此之後我就在也沒有所為的收藏品這種東西<br />除了食衣住行還有學費之外，我也沒其他額外的要求<br />雖然這些東西對現在的我來說不算貴<br />但失去的並不只是漫畫而已</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642414" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)15:04:57 ID:.Pg.NrXc No.1642414 <a class=del href="javascript:void(0);" onclick="del(1642414);return(false);">del</a> &nbsp; 
   <blockquote>另外我自己本身也是輪流給生父母帶大的<br />基本上就定期輪<br />故此有次我媽跟他的家人要出國玩<br />想提早把我送去我爸他們家<br />然後我爸拒絕後在那吵架<br />背著我也就算了，還當著我的面<br />而我那時候也才只是個小學生而已<br />沒有人想多看我一眼<br />但即便如此，我仍然表現的很好，最少我這麼認為<br />我不吵不哭不鬧，給我什麼我就用什麼<br />但不論我怎麼忍耐這一切，最終換來的都只有心碎而已<br />真的這麼討厭我，為何不毒打我一頓<br />找個理由把我送去育幼院呢?</blockquote></td></tr></table>
   <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
   <input type=checkbox name="1642418" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
   <font color=#117743><b>無名</b></font> 16/08/30(二)15:24:29 ID:FFgCUErs No.1642418 <a class=del href="javascript:void(0);" onclick="del(1642418);return(false);">del</a> &nbsp; 
   <blockquote>只能說父母並非是偉大的<br />但能遇到偉大的父母<br />就真的都是三生有幸啊</blockquote></td></tr></table>
   <div class=spacer></div></div><br clear=left><hr>
   <table align=right><tr><td nowrap align=center><input type=hidden name=mode value=usrdel>【刪除文章】[<input type=checkbox name=onlyimgdel value=on>僅刪除附加圖檔]<br>刪除密碼 <input type=password name=pwd size=8 maxlength=8 value=""><input type=submit value="刪除"></form></td></tr></table><table align=left border=1><tr><td>最前頁</td><td>[<b>0</b>] [<a href="1.htm">1</a>] [<a href="2.htm">2</a>] [<a href="3.htm">3</a>] [<a href="4.htm">4</a>] [<a href="5.htm">5</a>] [<a href="6.htm">6</a>] [<a href="7.htm">7</a>] [<a href="8.htm">8</a>] </td><form action="1.htm" method=get><td><input type=submit value="下一頁"></td></form></tr></table><br clear=all>
   <center>
   <script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
   <script type="text/javascript">
      _uacct = "UA-114117-2";
      urchinTracker();
   </script>
   <center>
   <br clear=all>
   <table border="0" cellspacing="0" cellpadding="1">
   <tr><td><ins data-revive-zoneid="16" data-revive-id="6aadeebc0bbe39c5c6790782485ce071"></ins><script async src="//revive.komica.org/ox/www/delivery/asyncjs.php"></script></table>
   <br clear=all>
   <small>
   - <a href="http://php.s3.to" target=_top>GazouBBS</a> + <a href="http://www.2chan.net/" target=_top>futaba</a> + <a href="http://siokara.que.jp/" target=_top>siokara</a> -<br>All trademarks and copyrights on this page are owned by their respective owners.<br>Images uploaded are the responsibility of the Poster. Comments are owned by the Poster.
   </small>
   <p>
   <script type="text/javascript" id="tc_ft9dwfgx">
      var _tcq = _tcq || []; _tcq.push(["blog", "ft9dwfgx"]); 
      (function() { var e = document.createElement("script"); e.type = "text/javascript"; e.async = true; e.src = "http://widgets.tcimg.com/v2/blog.js"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(e, s); })();
   </script>
   </center><script type="text/javascript">/* <![CDATA[ */(function(d,s,a,i,j,r,l,m,t){try{l=d.getElementsByTagName('a');t=d.createElement('textarea');for(i=0;l.length-i;i++){try{a=l[i].href;s=a.indexOf('/cdn-cgi/l/email-protection');m=a.length;if(a&&s>-1&&m>28){j=28+s;s='';if(j<m){r='0x'+a.substr(j,2)|0;for(j+=2;j<m&&a.charAt(j)!='X';j+=2)s+='%'+('0'+('0x'+a.substr(j,2)^r).toString(16)).slice(-2);j++;s=decodeURIComponent(s)+a.substr(j,m-j)}t.innerHTML=s.replace(/</g,'&lt;').replace(/>/g,'&gt;');l[i].href='mailto:'+t.value}}catch(e){}}}catch(e){}})(document);/* ]]> */</script>
</body>
</html>