<head>
<META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=utf-8">
<META HTTP-EQUIV="pragma" CONTENT="no-cache">
<META HTTP-EQUIV="last-modified" CONTENT="Thu, 1 Jan 1970 00:00:00 GMT">
<META HTTP-EQUIV="expires" CONTENT="Thu, 1 Jan 1970 00:00:00 GMT">
<META NAME="viewport" CONTENT="width=device-width, initial-scale=1">
<STYLE TYPE="text/css">
<!--
body,tr,td,th { font-size:12pt }
a:hover { color:#DD0000; }
a.del { color:#800000; }
span { font-size:20pt }
small { font-size:10pt }
.hide { display: none; }
.spacer { clear: both; }
-->
</STYLE>
<title>遊戲速報</title>
<script language="JavaScript"><!--
//function l(e){var P=getCookie("pwdc"),N=getCookie("namec"),i;with(document){for(i=0;i<forms.length;i++){if(forms[i].pwd)with(forms[i]){pwd.value=P;}if(forms[i].name)with(forms[i]){name.value=N;}}}};onload=l;function getCookie(key, tmp1, tmp2, xx1, xx2, xx3) {tmp1 = " " + document.cookie + ";";xx1 = xx2 = 0;len = tmp1.length;	while (xx1 < len) {xx2 = tmp1.indexOf(";", xx1);tmp2 = tmp1.substring(xx1 + 1, xx2);xx3 = tmp2.indexOf("=");if (tmp2.substring(0, xx3) == key) {return(decodeURL(tmp2.substring(xx3 + 1, xx2 - xx1 - 1)));}xx1 = xx2 + 1;}return("");}
function decodeURL(str){var s0="",i,j,s,ss,u,n,f,sss;for(i=0;i<str.length;i++){s=str.charAt(i);if(s=="+"){s0+=" ";}else{if(s!="%"){s0+=s;}else{u=0;f=1;while(true){ss="";for(j=0;j<2;j++){sss=str.charAt(++i);if(((sss>="0")&&(sss<="9"))||((sss>="a")&&(sss<="f"))||((sss>="A")&&(sss<="F"))){ss+=sss;}else{--i;break;}}n=parseInt(ss,16);if(n<=0x7f){u=n;f=1;}if((n>=0xc0)&&(n<=0xdf)){u=n&0x1f;f=2;}if((n>=0xe0)&&(n<=0xef)){u=n&0x0f;f=3;}if((n>=0xf0)&&(n<=0xf7)){u=n&0x07;f=4;}if((n>=0x80)&&(n<=0xbf)){u=(u<<6)+(n&0x3f);--f;}if(f<=1){break;}if(str.charAt(i+1)=="%"){i++;}else{break;}}s0+=String.fromCharCode(u);}}}return s0;}
function del(d){self.location.href="./del.php?b="+27+"&d="+d;};
//--></script>
<!--script type="text/javascript" src="http://k0.dreamhosters.com/get_ip.php"></xscript>
<xscript>
document.cookie = "ipx2=" + myip;
</xscript-->
<script src="http://www.google.com/recaptcha/api.js"></script>
</head>
<body bgcolor="#FFFFEE" text="#800000" link="#0000EE" vlink="#0000EE">
<p align=right>
[<a href="http://komica.org/" target="_top">首頁</a>]
[<a href="http://homu.komica.org/27/m/" target="_self">行動版</a>]
<!--[<a href="http://archives.komica.org/27/index.php?mode=list">檔案區</a>]-->
[<a href="index.php?mode=admin">管理用</a>]
<p align=center>
<font color="#800000" size=5>
<b><SPAN>遊戲速報</SPAN></b></font>
<hr width="90%" size=1>
<p><center>
<table border="0" cellspacing="0" cellpadding="1">
<tr align=center>
	<td><script type="text/javascript" src="http://adplace.adsame.com/s?z=adplace&c=1127"></script>
</table></center>
<p>

<hr><p>
<script type="text/javascript">ReDirUrl = "http://homu.komica.org/27/m/"</script>
<script type="text/javascript" src="http://homu.komica.org/27/MobileRedirection.js"></script>
<center>
<div style="float:right; padding-left:10px; padding-bottom:10px;">
<br><table border="0" cellspacing="0" cellpadding="0">
<tr><td>
<script type="text/javascript" src="http://homu.komica.org/js/myacg_27.js"></script>
</table>
</div>
<form action="index.php" method="POST" enctype="multipart/form-data"><input type=hidden name=mode value="regist"><input type=hidden name="MAX_FILE_SIZE" value="1048576"><table border=0 cellpadding=1 cellspacing=1><tr><td bgcolor=#eeaa88><b>名　　稱</b></td><td><input type=text name=name size="28"></td></tr><tr><td bgcolor=#eeaa88><b>E-mail</b></td><td><input type=text name=email size="28">&nbsp;<input type=submit value="送　出"></td></tr><tr><td bgcolor=#eeaa88><b>題　　名</b></td><td><input type=text name=sub size="35"></td></tr><tr><td bgcolor=#eeaa88><b>內　　文</b></td><td><textarea name=comx5113 cols="48" rows="4" wrap=soft></textarea></td></tr><tr><td bgcolor=#eeaa88><b>附加圖檔</b></td><td><input type=file name=upfile size="35">&nbsp;[<label><input type=checkbox name=textonly value=on>無貼圖</label>]</td></tr><tr><td bgcolor=#eeaa88><b>刪除密碼</b></td><td><input type=password name=pwd size=8 maxlength=8 value=""><small>(刪除文章用。英數字8字元以內)</small></td></tr><tr><td bgcolor=#eeaa88><b>畫像認證</b></td><td align=left height="90"><div class="g-recaptcha" data-sitekey="6LeuBPkSAAAAAJKaNezSYDM3ZL4-jfSJu9cWpp_-"></div><tr><td colspan=2><small><LI>可附加圖檔類型：GIF, JPG, PNG，瀏覽器才能正常附加圖檔。<LI>圖片寛 250像素、高 250像素以上時自動縮小尺寸顯示。回文可貼圖。<LI>附加圖檔最大上限 1024 KB。在E-mail欄填入sage時，回應不會有推文效果。<li>本板以遊戲新聞、新作情報為主，張貼新聞時請附上消息來源網址。</small></td></tr></table></form></center><hr><div class="container"><form action="index.php" method=POST><table cellpadding=2 cellspacing=0 border=0 width="100%"><tr><th bgcolor="#DDDDEE">題名一覧</th></tr></table>
<table width="100%"><tr><td width="50%"><table width="100%"><tr><td bgcolor="#FFFFEE"><font size="-1"><a href="index.php?res=660284">原來我現在也是個名人了啊???XD 作者...</a></font></td></tr><tr><td bgcolor="#EEDDDD"><font size="-1"><a href="index.php?res=660278">Wii U	3&#44;541 http...</a></font></td></tr><tr><td bgcolor="#FFFFEE"><font size="-1"><a href="index.php?res=660189">小弟昨天購買一台新的wii u主機32G...</a></font></td></tr><tr><td bgcolor="#EEDDDD"><font size="-1"><a href="index.php?res=660287">真正的VR https://www.yo...</a></font></td></tr><tr><td bgcolor="#FFFFEE"><font size="-1"><a href="index.php?res=660273">噁心</a></font></td></tr><tr><td bgcolor="#EEDDDD"><font size="-1"><a href="index.php?res=660271">Final Fantasy VII 我自...</a></font></td></tr><tr><td bgcolor="#FFFFEE"><font size="-1"><a href="index.php?res=660262">英國《每日郵報》等媒體近日報導，野豬原是...</a></font></td></tr><tr><td bgcolor="#EEDDDD"><font size="-1"><a href="index.php?res=660231">狠心幹過的事被貼出來，就去檢舉桐子了  ...</a></font></td></tr><tr><td bgcolor="#FFFFEE"><font size="-1"><a href="index.php?res=660256">SQUARE ENIX 剛剛宣布，解散旗...</a></font></td></tr><tr><td bgcolor="#EEDDDD"><font size="-1"><a href="index.php?res=660124">但是轉個彎想，其實也只是停產而已，任天堂...</a></font></td></tr></table></td><td width="50%"><table width="100%"><tr><td bgcolor="#FFFFEE"><font size="-1"><a href="index.php?res=660224">家人叫我，好困擾…</a></font></td></tr><tr><td bgcolor="#EEDDDD"><font size="-1"><a href="index.php?res=660223">WiiU『スターフォックス零』のプレイ動...</a></font></td></tr><tr><td bgcolor="#FFFFEE"><font size="-1"><a href="index.php?res=660204">【情報】繁體中文版閃亂神樂EV 1.13更新預定於4/19配信</a></font></td></tr><tr><td bgcolor="#EEDDDD"><font size="-1"><a href="index.php?res=660220">超長戰文 http://forum.ga...</a></font></td></tr><tr><td bgcolor="#FFFFEE"><font size="-1"><a href="index.php?res=660209">這是我朋友做的關於遊戲花錢習慣的問卷，可...</a></font></td></tr><tr><td bgcolor="#EEDDDD"><font size="-1"><a href="index.php?res=660206">YUNSKI不是說不管? http://...</a></font></td></tr><tr><td bgcolor="#FFFFEE"><font size="-1"><a href="index.php?res=660203">任天堂一反常態！竟然允許遊戲裡寫髒話爆粗...</a></font></td></tr><tr><td bgcolor="#EEDDDD"><font size="-1"><a href="index.php?res=660152">狠心先生：昨天09:39 桐子老是口是心...</a></font></td></tr><tr><td bgcolor="#FFFFEE"><font size="-1"><a href="index.php?res=660171">DOA5也只有PS2版的HC水準</a></font></td></tr><tr><td bgcolor="#EEDDDD"><font size="-1"><a href="index.php?res=660103">【討論】造成FF15看起來模糊的原因最主...</a></font></td></tr></table></td></tr></table><hr>
.
<div style="float:right; padding-left:10px; padding-bottom:10px;">
<br><table border="0" cellspacing="0" cellpadding="0">
<tr><td>
<script type="text/javascript" src="http://107382.medi-8.net/t/033/710/a1033710.js"></script>
</table>
</div>
<input type=checkbox name="660284" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
 <font color=#117743><b>無名</b></font> 16/04/07(四)10:35:11 ID:S4jDlSog No.660284 <a class=del href="javascript:void(0);" onclick="del(660284);return(false);">del</a> &nbsp; 
[<a href=index.php?res=660284>返信</a>]<br>
<blockquote>原來我現在也是個名人了啊???XD<br />作者：FN~披著人皮的怪物<br />之前就有聽說我在台灣另外一個大的次文化相關網站─KOMICA糟糕島上面挺有名的，<br />(特別是電玩速報版)<br />只可惜當初沒有備份到那時候的言論....唉<br /><br />以下是我之前備份到的資料，有興趣的可以去看看XD<br />或是有&quot;無名氏&quot;要自己出來認領嗎???XD<br /><br />然後歡迎K島的其他人，把我這篇轉貼回去速報版吧XD<br />http://home.gamer.com.tw/creationDetail.php?sn=3151654<br />不見了???</blockquote><font color="#707070">回應有26篇被省略。要閱讀所有回應請按下返信連結。</font><br>
<table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
<input type=checkbox name="660316" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
 <font color=#117743><b>無名</b></font> 16/04/07(四)17:05:07 ID:QKaLTIvM No.660316 <a class=del href="javascript:void(0);" onclick="del(660316);return(false);">del</a> &nbsp; 
<blockquote><font color=789922>&gt;ID:xN5KTi0E</font><br />1.看到老婆跟別的男人抽插 讓你戴綠帽 <br />跟<br />2.你的AV寫真A片收藏被弄爛撕裂<br /><br />哪一個你會比較崩潰??<br />我覺得你會選2耶...</blockquote></td></tr></table>
<table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
<input type=checkbox name="660317" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
 <font color=#117743><b>無名</b></font> 16/04/07(四)17:10:57 ID:/IfPQojo No.660317 <a class=del href="javascript:void(0);" onclick="del(660317);return(false);">del</a> &nbsp; 
<blockquote><font color=789922>&gt;ID:VZ27Gv9M</font><br />我可以天天幹你娘<br /><br /><font color=789922>&gt;ID:QKaLTIvM</font><br />幹你娘 凡斯又沒有要幹你娘你問這啥智障問題</blockquote></td></tr></table>
<table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
<input type=checkbox name="660318" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
 <font color=#117743><b>無名</b></font> 16/04/07(四)17:11:40 ID:kD.SGO2w No.660318 <a class=del href="javascript:void(0);" onclick="del(660318);return(false);">del</a> &nbsp; 
<blockquote>我覺得有些人真的是自我感覺良好到溢出來的地步了<br /><br />像阿滷那種至少還有點自覺 知道自己名字臭<br />乖乖躲在任板不敢出來<br /><br />但有些人臭名遠播還可以沾沾自喜以為別人眼紅....</blockquote></td></tr></table>
<table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
<input type=checkbox name="660319" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
 <font color=#117743><b>無名</b></font> 16/04/07(四)17:15:19 ID:/IfPQojo No.660319 <a class=del href="javascript:void(0);" onclick="del(660319);return(false);">del</a> &nbsp; 
<blockquote><font color=789922>&gt;但有些人臭名遠播還可以沾沾自喜以為別人眼紅....</font><br />你在說狠抄嗎 整天發廢文還敢檢舉人 一整個垃圾</blockquote></td></tr></table>
<table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
<input type=checkbox name="660320" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
 <font color=#117743><b>無名</b></font> 16/04/07(四)17:16:29 ID:A/v87pYE No.660320 <a class=del href="javascript:void(0);" onclick="del(660320);return(false);">del</a> &nbsp; 
<blockquote>崩潰哥不怕沒接班人了</blockquote></td></tr></table>
<table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
<input type=checkbox name="660322" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
 <font color=#117743><b>無名</b></font> 16/04/07(四)17:20:04 ID:QKaLTIvM No.660322 <a class=del href="javascript:void(0);" onclick="del(660322);return(false);">del</a> &nbsp; 
<blockquote><font color=789922>&gt;ID:/IfPQojo</font><br />他沒有要幹我娘 <br />但我覺得你很想要幹他老婆<br />他老婆應該沒被狗幹過 <br />恭喜你取得第一次!!!!</blockquote></td></tr></table>
<table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
<input type=checkbox name="660323" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
 <font color=#117743><b>無名</b></font> 16/04/07(四)17:20:11 ID:/IfPQojo No.660323 <a class=del href="javascript:void(0);" onclick="del(660323);return(false);">del</a> &nbsp; 
<blockquote><font color=789922>&gt;ID:A/v87pYE</font><br />你這條智障狗也不怕沒屎吃</blockquote></td></tr></table>
<table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
<input type=checkbox name="660324" value=delete><font color=#cc1105 size=+1><b>本尊</b></font> 
 <font color=#117743><b>vance7025</b></font> 16/04/07(四)17:29:23 ID:xN5KTi0E No.660324 <a class=del href="javascript:void(0);" onclick="del(660324);return(false);">del</a> &nbsp; 
<blockquote><font color=789922>&gt;ID:QKaLTIvM</font><br /><br />1.老婆真的不愛我了 選擇跟別人抽插 我當然不會崩潰<br />如果那個人只是妻騙我老婆 傷害我老婆 我當然是去教訓那個傷害我老婆的人囉 <br /><br />我跟我老婆兩人都是初戀 交往九年 結婚快六年  <br />聲兩個小孩 之後不聲 已精準備去結紮 可以每天%%內射<br />你覺得我會崩潰嗎??<br /><br />http://home.gamer.com.tw/creationDetail.php?sn=1314971</blockquote></td></tr></table>
<table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
<input type=checkbox name="660325" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
 <font color=#117743><b>無名</b></font> 16/04/07(四)17:35:22 ID:QKaLTIvM No.660325 <a class=del href="javascript:void(0);" onclick="del(660325);return(false);">del</a> &nbsp; 
<blockquote><font color=789922>&gt;如果那個人只是妻騙我老婆</font><br /><font color=789922>&gt;聲兩個小孩 之後不聲 已精準備去結紮</font><br /><br />別再演了 <br />其實你是點點吧<br />能毫無知覺不斷錯字的只有智障點點而已</blockquote></td></tr></table>
<table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
<input type=checkbox name="660326" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
 <font color=#117743><b>無名</b></font> 16/04/07(四)17:54:44 ID:/IfPQojo No.660326 <a class=del href="javascript:void(0);" onclick="del(660326);return(false);">del</a> &nbsp; 
<blockquote><font color=789922>&gt;ID:QKaLTIvM</font><br />別再演了&#44;你這打字方式就只有幹你娘阿滷<br />你他媽的到底要不要肛狠抄</blockquote></td></tr></table>
<div class=spacer></div></div><br clear=left><hr>
檔名：<a href="http://homu.komica.org/27/src/1459994250335.jpg" target=_blank>1459994250335.jpg</a>-(103000 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/27/src/1459994250335.jpg" target=_blank><img src=http://homu.komica.org/27/thumb/1459994250335s.jpg border=0 align=left width=188 height=251 hspace=20 alt="103000 B"></a><input type=checkbox name="660278" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
 <font color=#117743><b>無名</b></font> 16/04/07(四)09:57:30 ID:7xtqjDL2 No.660278 <a class=del href="javascript:void(0);" onclick="del(660278);return(false);">del</a> &nbsp; 
[<a href=index.php?res=660278>返信</a>]<br>
<blockquote>Wii U	3&#44;541<br />http://forum.gamer.com.tw/C.php?bsn=60001&snA=36739&tnum=7</blockquote><table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
<input type=checkbox name="660302" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
 <font color=#117743><b>無名</b></font> 16/04/07(四)15:52:41 ID:VZ27Gv9M No.660302 <a class=del href="javascript:void(0);" onclick="del(660302);return(false);">del</a> &nbsp; 
<blockquote>準備好跟台任明年一起拜了</blockquote></td></tr></table>
<div class=spacer></div></div><br clear=left><hr>
檔名：<a href="http://homu.komica.org/27/src/1459815146252.jpg" target=_blank>1459815146252.jpg</a>-(134412 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/27/src/1459815146252.jpg" target=_blank><img src=http://homu.komica.org/27/thumb/1459815146252s.jpg border=0 align=left width=250 height=120 hspace=20 alt="134412 B"></a><input type=checkbox name="660189" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
 <font color=#117743><b>無名</b></font> 16/04/05(二)08:12:26 ID:PLGtuxMI No.660189 <a class=del href="javascript:void(0);" onclick="del(660189);return(false);">del</a> &nbsp; 
[<a href=index.php?res=660189>返信</a>]<br>
<blockquote>小弟昨天購買一台新的wii u主機32G<br />想請問這台主機可以改機 還是目前沒有 想幫小孩多買一點新遊戲片<br />謝謝!<br />http://forum.gamer.com.tw/C.php?bsn=60548&snA=4369</blockquote><font color="#707070">回應有2篇被省略。要閱讀所有回應請按下返信連結。</font><br>
<table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
<input type=checkbox name="660199" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
 <font color=#117743><b>無名</b></font> 16/04/05(二)16:00:30 ID:lN.kTvqE No.660199 <a class=del href="javascript:void(0);" onclick="del(660199);return(false);">del</a> &nbsp; 
<blockquote>可能忘記自己還有當版主<br />不只當電綜屍體</blockquote></td></tr></table>
<table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
<input type=checkbox name="660201" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
 <font color=#117743><b>無名</b></font> 16/04/05(二)17:57:36 ID:t9r.ZpQ2 No.660201 <a class=del href="javascript:void(0);" onclick="del(660201);return(false);">del</a> &nbsp; 
<blockquote>根本懶得登入自然也不會受到檢舉<br />更扯的是擺爛不理的態度<br />海怪檢舉心酸的</blockquote></td></tr></table>
<table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
<input type=checkbox name="660222" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
 <font color=#117743><b>無名</b></font> 16/04/06(三)15:04:27 ID:7NUEhJYg No.660222 <a class=del href="javascript:void(0);" onclick="del(660222);return(false);">del</a> &nbsp; 
<blockquote>文章還在<br />看樣子版務感覺此文不違規<br />跟斬皇標準一致<br />以後任囤也別說買數位版了<br />直接說新天地數位版就好</blockquote></td></tr></table>
<table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
<input type=checkbox name="660251" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
 <font color=#117743><b>無名</b></font> 16/04/06(三)20:58:17 ID:7K/XIi.I No.660251 <a class=del href="javascript:void(0);" onclick="del(660251);return(false);">del</a> &nbsp; 
<blockquote>ホエルオー：你エミリオ.人生攻擊我廢物是不是要先水桶阿?50 分前<br />http://forum.gamer.com.tw/C.php?bsn=60001&snA=30174&locked=F&tnum=114&snAjudge=C&page=6</blockquote></td></tr></table>
<table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
<input type=checkbox name="660260" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
 <font color=#117743><b>無名</b></font> 16/04/06(三)22:41:15 ID:ZHs.iK8M No.660260 <a class=del href="javascript:void(0);" onclick="del(660260);return(false);">del</a> &nbsp; 
<blockquote><font color=789922>&gt;ホエルオー：你可以檢舉.我們就會處理了</font><br />放屁<br />點點打多少次注音文了哪次檢舉有處理?<br />到處回無關留言洗五老闆哪次檢舉有處理?</blockquote></td></tr></table>
<table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
<input type=checkbox name="660261" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
 <font color=#117743><b>無名</b></font> 16/04/06(三)22:55:57 ID:GMBK4OsU No.660261 <a class=del href="javascript:void(0);" onclick="del(660261);return(false);">del</a> &nbsp; 
<blockquote>都嗆好幾天了今天才上去留言<br />平常我以為是裝死不想管<br />原來是真的不想管啊</blockquote></td></tr></table>
<table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
<input type=checkbox name="660277" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
 <font color=#117743><b>無名</b></font> 16/04/07(四)09:56:27 ID:IhLXSnxA No.660277 <a class=del href="javascript:void(0);" onclick="del(660277);return(false);">del</a> &nbsp; 
<blockquote>我再警告各位一次<br />別再褻瀆死者<br />否則你們全家不得好死</blockquote></td></tr></table>
<table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
<input type=checkbox name="660279" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
 <font color=#117743><b>無名</b></font> 16/04/07(四)09:58:35 ID:7xtqjDL2 No.660279 <a class=del href="javascript:void(0);" onclick="del(660279);return(false);">del</a> &nbsp; 
<blockquote><font color=789922>&gt;我再警告各位一次</font><br /><font color=789922>&gt;否則你們全家不得好死</font><br /><br />[刑法第三百零五條] 恐嚇(危害安全)罪<br /><br />以加害生命、身體、自由、名譽、財產之事，恐嚇他人致生危害於安全者，處兩年以下有期徒刑、拘役或三百元以下罰金。<br /><br />其構成要件:<br /><br />.須以加害生命、身體、自由、名譽、財產之事，恐嚇他人<br />「加害」&#44;指以不法之手段施以危害。<br /><br />「加害之客體」則為他人之生命、身體、自由、名譽、財產(採列舉制)。<br /><br />「恐嚇」&#44;將上述不法害惡之意旨&#44;通知他人&#44;使人產生恐怖之心理狀態。「他<br /><br />人」&#44;恐嚇特定之一人或數人。<br /><br />「他人」&#44;指恐嚇特定之一人或數人&#44;</blockquote></td></tr></table>
<table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
<input type=checkbox name="660297" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
 <font color=#117743><b>無名</b></font> 16/04/07(四)14:52:17 ID:/IfPQojo No.660297 <a class=del href="javascript:void(0);" onclick="del(660297);return(false);">del</a> &nbsp; 
<blockquote><font color=789922>&gt;ID:7xtqjDL2 No.660279</font><br />在匿名版講法律就跟阿滷在哈哈拿對岸的法律出來講一樣蠢<br />你阿滷嗎</blockquote></td></tr></table>
<table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
<input type=checkbox name="660321" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
 <font color=#117743><b>無名</b></font> 16/04/07(四)17:17:09 ID:A.Ly.Xz. No.660321 <a class=del href="javascript:void(0);" onclick="del(660321);return(false);">del</a> &nbsp; 
<blockquote><font color=789922>&gt;ID:/IfPQojo </font><br />你看也知道他回的是任月豕吧<br />任月豕為了岩田聰又在咒人死了</blockquote></td></tr></table>
<div class=spacer></div></div><br clear=left><hr>
檔名：<a href="http://homu.komica.org/27/src/1460000235734.jpg" target=_blank>1460000235734.jpg</a>-(86087 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/27/src/1460000235734.jpg" target=_blank><img src=http://homu.komica.org/27/thumb/1460000235734s.jpg border=0 align=left width=250 height=250 hspace=20 alt="86087 B"></a><input type=checkbox name="660287" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
 <font color=#117743><b>無名</b></font> 16/04/07(四)11:37:15 ID:.cqrmECY No.660287 <a class=del href="javascript:void(0);" onclick="del(660287);return(false);">del</a> &nbsp; 
[<a href=index.php?res=660287>返信</a>]<br>
<blockquote>真正的VR<br />https://www.youtube.com/watch?v=Z2DNwTaJZO4</blockquote><div class=spacer></div></div><br clear=left><hr>
檔名：<a href="http://homu.komica.org/27/src/1459993343612.jpg" target=_blank>1459993343612.jpg</a>-(146414 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/27/src/1459993343612.jpg" target=_blank><img src=http://homu.komica.org/27/thumb/1459993343612s.jpg border=0 align=left width=250 height=141 hspace=20 alt="146414 B"></a><input type=checkbox name="660273" value=delete><font color=#cc1105 size=+1><b>噁心</b></font> 
 <font color=#117743><b>無名</b></font> 16/04/07(四)09:42:23 ID:vFlvr9F6 No.660273 <a class=del href="javascript:void(0);" onclick="del(660273);return(false);">del</a> &nbsp; 
[<a href=index.php?res=660273>返信</a>]<br>
<blockquote>http://home.gamer.com.tw/creationDetail.php?sn=3150052<br /><br />太噁了吧<br />複製貼上也能變達人專欄<br />噁心先生是跟多少巴哈工程師幹鮑魚</blockquote><table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
<input type=checkbox name="660275" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
 <font color=#117743><b>無名</b></font> 16/04/07(四)09:53:17 ID:7xtqjDL2 No.660275 <a class=del href="javascript:void(0);" onclick="del(660275);return(false);">del</a> &nbsp; 
<blockquote>他哪來鮑魚</blockquote></td></tr></table>
<table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
<input type=checkbox name="660285" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
 <font color=#117743><b>無名</b></font> 16/04/07(四)10:41:22 ID:S4jDlSog No.660285 <a class=del href="javascript:void(0);" onclick="del(660285);return(false);">del</a> &nbsp; 
<blockquote>阿嘎禿頭&#44;真的</blockquote></td></tr></table>
<table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
<input type=checkbox name="660286" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
 <font color=#117743><b>無名</b></font> 16/04/07(四)10:45:19 ID:lKgHqsq. No.660286 <a class=del href="javascript:void(0);" onclick="del(660286);return(false);">del</a> &nbsp; 
<blockquote>有原本的來源嗎？</blockquote></td></tr></table>
<div class=spacer></div></div><br clear=left><hr>
檔名：<a href="http://homu.komica.org/27/src/1459993030624.png" target=_blank>1459993030624.png</a>-(130951 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/27/src/1459993030624.png" target=_blank><img src=http://homu.komica.org/27/thumb/1459993030624s.jpg border=0 align=left width=250 height=188 hspace=20 alt="130951 B"></a><input type=checkbox name="660271" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
 <font color=#117743><b>無名</b></font> 16/04/07(四)09:37:10 ID:7xtqjDL2 No.660271 <a class=del href="javascript:void(0);" onclick="del(660271);return(false);">del</a> &nbsp; 
[<a href=index.php?res=660271>返信</a>]<br>
<blockquote>Final Fantasy VII 我自已是預測跟ff15不同<br /><br />比較偏向ff13這種   互動式影片玩法 章節玩法<br /><br />以Final Fantasy VII的世界來說要搞大地圖根本是不可能的<br /><br />之前PS3剛出的訪談就提到   <br />要重製FF7並且連細節重現要開發5年以上.並且要300人以上的團隊<br /><br />當年PS版還可以回到一開始的教會    RFF7是一過劇情就回不去了<br /><br />而我預測基本上不太可能被打臉    到時可以挖紋<br />http://forum.gamer.com.tw/C.php?bsn=60001&snA=36740&s_author=kagakqa</blockquote><table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
<input type=checkbox name="660280" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
 <font color=#117743><b>無名</b></font> 16/04/07(四)10:00:52 ID:7xtqjDL2 No.660280 <a class=del href="javascript:void(0);" onclick="del(660280);return(false);">del</a> &nbsp; 
<blockquote>※ 引述《Kagakqa (aga)》之銘言<br /><br /><font color=789922>&gt;  </font><br /><font color=789922>&gt; </font><br /><font color=789922>&gt;  </font><br /><font color=789922>&gt; </font><br /><font color=789922>&gt; 而我預測基本上不太可能被打臉    到時可以挖紋 </font><br /><br />噗&#44;差點笑死<br />你的臉早就不知道被打歪過幾次了<br />最後還不就當沒事裝死不回而已www<br />要打你臉不用挖文&#44;去看你在ps4版鬧版被桶就夠爆笑了</blockquote></td></tr></table>
<div class=spacer></div></div><br clear=left><hr>
<input type=checkbox name="660262" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
 <font color=#117743><b>無名</b></font> 16/04/06(三)23:16:44 ID:gu3rBSoQ No.660262 <a class=del href="javascript:void(0);" onclick="del(660262);return(false);">del</a> &nbsp; 
[<a href=index.php?res=660262>返信</a>]<br>
<blockquote>英國《每日郵報》等媒體近日報導，野豬原是北日本珍饈，不少飯店都賣野豬鍋、野豬燒肉，但福島核災後，靠吃樹根、漿果、小動物為生的野豬，也把雨水沖刷下來的輻射吃下肚，體內放射性物質銫-137濃度是可食用標準的300倍，沒人敢吃，當地政府只好加緊撲殺。<br /> <br />但輻射野豬的數量實在太多，核電廠附近的二本松市，原本可埋1800頭野豬的坑洞眼見快要滿了，公有地也埋到快要沒有地方可以埋屍，相馬市上月底啟用重資興建的輻射動物專用焚化爐，排氣口可過濾放射性物質，避免污染空氣，但每天僅能燒3頭野豬。</blockquote><div class=spacer></div></div><br clear=left><hr>
<input type=checkbox name="660231" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
 <font color=#117743><b>無名</b></font> 16/04/06(三)16:28:22 ID:gu3rBSoQ No.660231 <a class=del href="javascript:void(0);" onclick="del(660231);return(false);">del</a> &nbsp; 
[<a href=index.php?res=660231>返信</a>]<br>
<blockquote>狠心幹過的事被貼出來，就去檢舉桐子了<br /><br />【公告】未經同意公開他人資料、訊息，全站禁貼3天→powersp<br />http://forum.gamer.com.tw/C.php?bsn=60147&snA=62861</blockquote><table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
<input type=checkbox name="660233" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
 <font color=#117743><b>無名</b></font> 16/04/06(三)16:50:08 ID:7NUEhJYg No.660233 <a class=del href="javascript:void(0);" onclick="del(660233);return(false);">del</a> &nbsp; 
<blockquote>敗囤之將只會小動作來掩飾自己的不安<br />被踢爆就會釘死對方</blockquote></td></tr></table>
<table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
<input type=checkbox name="660236" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
 <font color=#117743><b>無名</b></font> 16/04/06(三)17:10:54 ID:7K/XIi.I No.660236 <a class=del href="javascript:void(0);" onclick="del(660236);return(false);">del</a> &nbsp; 
<br>檔名：<a href="http://homu.komica.org/27/src/1459933854004.jpg" target=_blank>1459933854004.jpg</a>-(123205 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/27/src/1459933854004.jpg" target=_blank><img src=http://homu.komica.org/27/thumb/1459933854004s.jpg border=0 align=left width=126 height=106 hspace=20 alt="123205 B"></a><blockquote>確定狠心檢舉的</blockquote></td></tr></table>
<table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
<input type=checkbox name="660246" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
 <font color=#117743><b>無名</b></font> 16/04/06(三)18:48:30 ID:WStGV03c No.660246 <a class=del href="javascript:void(0);" onclick="del(660246);return(false);">del</a> &nbsp; 
<blockquote>詳細<br /><br />貼在這再去巴哈叫人來看</blockquote></td></tr></table>
<table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
<input type=checkbox name="660247" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
 <font color=#117743><b>無名</b></font> 16/04/06(三)19:47:23 ID:7K/XIi.I No.660247 <a class=del href="javascript:void(0);" onclick="del(660247);return(false);">del</a> &nbsp; 
<blockquote>就這張圖啊<br />http://homu.komica.org/27/index.php?res=660152</blockquote></td></tr></table>
<table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
<input type=checkbox name="660258" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
 <font color=#117743><b>無名</b></font> 16/04/06(三)22:19:19 ID:ilVkG4XE No.660258 <a class=del href="javascript:void(0);" onclick="del(660258);return(false);">del</a> &nbsp; 
<blockquote>ㄟㄟ 桐子<br /><br />你妹蠻正的 介紹一下嘛</blockquote></td></tr></table>
<div class=spacer></div></div><br clear=left><hr>
檔名：<a href="http://homu.komica.org/27/src/1459951998550.jpg" target=_blank>1459951998550.jpg</a>-(19121 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/27/src/1459951998550.jpg" target=_blank><img src=http://homu.komica.org/27/thumb/1459951998550s.jpg border=0 align=left width=250 height=81 hspace=20 alt="19121 B"></a><input type=checkbox name="660256" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
 <font color=#117743><b>無名</b></font> 16/04/06(三)22:13:18 ID:2V62D4wA No.660256 <a class=del href="javascript:void(0);" onclick="del(660256);return(false);">del</a> &nbsp; 
[<a href=index.php?res=660256>返信</a>]<br>
<blockquote>SQUARE ENIX 剛剛宣布，解散旗下雲端遊戲公司「神羅科技（Shinra Technologies）」，包含在北美與日本的分公司，此舉預定將造成約 20 億日圓（1680 萬美元）的非經常性損失。<br /> <br />　　神羅科技是 SQUARE ENIX 以《Final Fantasy VII》中牽動故事劇情發展的巨大跨國企業「神羅公司（Shinra Company）」為名、所成立的雲端遊戲事業營運公司，於 2014 年東京電玩展宣布成立，由 SQUARE ENIX 前社長和田洋一擔任社長，本部設於美國紐約州，主要業務為雲端遊戲服務的開發與營運，同時在日本開設分公司。</blockquote><div class=spacer></div></div><br clear=left><hr>
<input type=checkbox name="660124" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
 <font color=#117743><b>無名</b></font> 16/04/03(日)09:45:23 ID:KfkNDKS. No.660124 <a class=del href="javascript:void(0);" onclick="del(660124);return(false);">del</a> &nbsp; 
[<a href=index.php?res=660124>返信</a>]<br>
<blockquote>但是轉個彎想，其實也只是停產而已，任天堂直接把Wii U的生命週期提早結束了。<br /><br />對於普羅大眾的支持者、玩家來說確實是一個灰心的消息；但是以我個人的心態來說，也沒什麼了不起的嗎。<br /><br />我這樣回答：只要這台主機還能夠開機玩遊戲，在我心目中他依然活著。<br /><br />是的，即使停產了，或是沒有遊戲了，但主機還可以開機、玩遊戲，那在我心目中Wii U依然還是活著。<br />http://forum.gamer.com.tw/C.php?page=1&bsn=60001&snA=36625&subbsn=0</blockquote><table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
<input type=checkbox name="660135" value=delete><font color=#cc1105 size=+1><b>阿里阿哆任天堂</b></font> 
 <font color=#117743><b>無名</b></font> 16/04/03(日)17:20:48 ID:UoM2f6ek No.660135 <a class=del href="javascript:void(0);" onclick="del(660135);return(false);">del</a> &nbsp; 
<blockquote>難怪瑪利歐可以玩一輩子</blockquote></td></tr></table>
<table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
<input type=checkbox name="660249" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
 <font color=#117743><b>無名</b></font> 16/04/06(三)20:30:15 ID:q.3jFbqI No.660249 <a class=del href="javascript:void(0);" onclick="del(660249);return(false);">del</a> &nbsp; 
<blockquote>難怪瑪利歐可以騙錢一輩子</blockquote></td></tr></table>
<div class=spacer></div></div><br clear=left><hr>
<table align=right><tr><td nowrap align=center><input type=hidden name=mode value=usrdel>【刪除文章】[<input type=checkbox name=onlyimgdel value=on>僅刪除附加圖檔]<br>刪除密碼 <input type=password name=pwd size=8 maxlength=8 value=""><input type=submit value="刪除"></form></td></tr></table><table align=left border=1><tr><td>最前頁</td><td>[<b>0</b>] [<a href="1.htm">1</a>] [<a href="2.htm">2</a>] [<a href="3.htm">3</a>] [<a href="4.htm">4</a>] [<a href="5.htm">5</a>] [<a href="6.htm">6</a>] [<a href="7.htm">7</a>] [<a href="8.htm">8</a>] [<a href="9.htm">9</a>] [以下省略]</td><form action="1.htm" method=get><td><input type=submit value="下一頁"></td></form></tr></table><br clear=all>

<center>

<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-114117-2";
urchinTracker();
</script>

<center>

<br clear=all>

<table border="0" cellspacing="0" cellpadding="1">
<tr><td><script type="text/javascript" src="http://sage.komica.org/js/komica_banner.js"></script></table>

<br clear=all>

<small>
- <a href="http://php.s3.to" target=_top>GazouBBS</a> + <a href="http://www.2chan.net/" target=_top>futaba</a> + <a href="http://siokara.que.jp/" target=_top>siokara</a> -<br>All trademarks and copyrights on this page are owned by their respective owners.<br>Images uploaded are the responsibility of the Poster. Comments are owned by the Poster.
</small>

<p>

	<script type="text/javascript" id="tc_ft9dwfgx">
	var _tcq = _tcq || []; _tcq.push(["blog", "ft9dwfgx"]); 
	(function() { var e = document.createElement("script"); e.type = "text/javascript"; e.async = true; e.src = "http://widgets.tcimg.com/v2/blog.js"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(e, s); })();
	</script>

</center></body></html>