<head>
    <META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=utf-8">
        <META HTTP-EQUIV="pragma" CONTENT="no-cache">
            <META HTTP-EQUIV="last-modified" CONTENT="Thu, 1 Jan 1970 00:00:00 GMT">
                <META HTTP-EQUIV="expires" CONTENT="Thu, 1 Jan 1970 00:00:00 GMT">
                    <META NAME="viewport" CONTENT="width=device-width, initial-scale=1">
                        <STYLE TYPE="text/css">
                            <!--
                            body,tr,td,th { font-size:12pt }
                            a:hover { color:#DD0000; }
                            a.del { color:#800000; }
                            span { font-size:20pt }
                            small { font-size:10pt }
                            .hide { display: none; }
                            .spacer { clear: both; }
                            .divcss5 {border:0px solid #000; width:90px; height:90px}
                            .divcss5 img {height:90px; width:90px}
                            .divcss5 embed {height:90px; width:90px}
                            -->
                            </STYLE>
                        <title>綜合</title>
                        <script language="JavaScript"><!--
                            //function l(e){var P=getCookie("pwdc"),N=getCookie("namec"),i;with(document){for(i=0;i<forms.length;i++){if(forms[i].pwd)with(forms[i]){pwd.value=P;}if(forms[i].name)with(forms[i]){name.value=N;}}}};onload=l;function getCookie(key, tmp1, tmp2, xx1, xx2, xx3) {tmp1 = " " + document.cookie + ";";xx1 = xx2 = 0;len = tmp1.length;	while (xx1 < len) {xx2 = tmp1.indexOf(";", xx1);tmp2 = tmp1.substring(xx1 + 1, xx2);xx3 = tmp2.indexOf("=");if (tmp2.substring(0, xx3) == key) {return(decodeURL(tmp2.substring(xx3 + 1, xx2 - xx1 - 1)));}xx1 = xx2 + 1;}return("");}
                            function decodeURL(str){var s0="",i,j,s,ss,u,n,f,sss;for(i=0;i<str.length;i++){s=str.charAt(i);if(s=="+"){s0+=" ";}else{if(s!="%"){s0+=s;}else{u=0;f=1;while(true){ss="";for(j=0;j<2;j++){sss=str.charAt(++i);if(((sss>="0")&&(sss<="9"))||((sss>="a")&&(sss<="f"))||((sss>="A")&&(sss<="F"))){ss+=sss;}else{--i;break;}}n=parseInt(ss,16);if(n<=0x7f){u=n;f=1;}if((n>=0xc0)&&(n<=0xdf)){u=n&0x1f;f=2;}if((n>=0xe0)&&(n<=0xef)){u=n&0x0f;f=3;}if((n>=0xf0)&&(n<=0xf7)){u=n&0x07;f=4;}if((n>=0x80)&&(n<=0xbf)){u=(u<<6)+(n&0x3f);--f;}if(f<=1){break;}if(str.charAt(i+1)=="%"){i++;}else{break;}}s0+=String.fromCharCode(u);}}}return s0;}
                            function del(d){self.location.href="./del.php?b="+00+"&d="+d;};
                            //--></script>
                        <!--script type="text/javascript" src="http://k0.dreamhosters.com/get_ip.php"></xscript>
                         <xscript>
                         document.cookie = "ipx2=" + myip;
                         </xscript-->
                        <script src="//www.google.com/recaptcha/api.js"></script>
                        <script language="JavaScript">
                            function closeWebm(ele){
                                ele = ele.parentNode.parentNode;
                                ele.previousSibling.style.display = "";
                                ele.parentNode.removeChild(ele);
                                return false;
                            }
                        function expandWebm(ele){
                            var sw = "<div>[<a href=\"#\" onclick=\"return closeWebm(this);\">Close</a>]</div>";
                            var html = "<video controls loop autoplay muted style=\"max-width:100%;\" src=\"" + ele.href + "\"></video>";
                            var div = document.createElement("div");
                            div.setAttribute("class", "expand");
                            div.setAttribute("style", "margin:16px;");
                            div.innerHTML = sw + html;
                            ele.style.display = "none";
                            ele.parentNode.insertBefore(div ,ele.nextSibling);
                            return false;
                        }
                        </script>
</head>

<body bgcolor="#FFFFEE" text="#800000" link="#0000EE" vlink="#0000EE">
    <p align=right>
    [<a href="//komica.org/" target="_top">首頁</a>]
    [<a href="//homu.komica.org/00/m/" target="_self">行動版</a>]
    [<a href="http://elsa.komica.org/00/">避難所</a>]
    [<a href="http://wiki.komica.org/wiki5/?AA%E9%A1%8F%E6%96%87%E5%AD%97%E5%AD%97%E5%85%B8" target=_blank>顏文字字典</a>]
    [<a href="//archive.komica.org/00/index.php?mode=list">檔案區</a>]
    [<a href="index.php?mode=admin">管理用</a>]
    <p align=center>
    <font color="#800000" size=5>
        <b><SPAN>綜合</SPAN></b></font>
    <hr width="90%" size=1>
    <p><center>
        <table border="0" cellspacing="0" cellpadding="1">
            <tr align=center>
                <td><ins data-revive-zoneid="3" data-revive-id="6aadeebc0bbe39c5c6790782485ce071"></ins><script async src="//revive.komica.org/ox/www/delivery/asyncjs.php"></script>
        </table></center>
    <p>
    
    <hr><p>
    <script type="text/javascript">ReDirUrl = "http://homu.komica.org/00/m/"</script>
    <script type="text/javascript" src="http://homu.komica.org/00/MobileRedirection.js"></script>
    <center>
        <div style="float:right; padding-left:10px; padding-bottom:10px;">
            <br><table border="0" cellspacing="0" cellpadding="0">
                <tr><td>
                    <script type="text/javascript" src="http://sage.komica.org/js/adsense_rectangle3.js"></script>
            </table>
        </div>
        <form action="index.php" method="POST" enctype="multipart/form-data"><input type=hidden name=mode value="regist"><input type=hidden name="MAX_FILE_SIZE" value="3145728"><table border=0 cellpadding=1 cellspacing=1><tr class="hide"><td bgcolor=#eeaa88><b>名　　稱</b></td><td><input type=hidden name=name size="28"></td></tr><tr><td bgcolor=#eeaa88><b>E-mail</b></td><td><input type=text name=email size="28">&nbsp;<input type=submit value="送　出"></td></tr><tr class="hide"><td bgcolor=#eeaa88><b>題　　名</b></td><td><input type=hidden name=sub size="35"></td></tr><tr><td bgcolor=#eeaa88><b>內　　文</b></td><td><textarea name=comx5113 cols="48" rows="4" wrap=soft></textarea></td></tr><tr><td bgcolor=#eeaa88><b>附加圖檔</b></td><td><input type=file name=upfile size="35">&nbsp;[<label><input type=checkbox name=textonly value=on>無貼圖</label>]</td></tr><tr><td bgcolor=#eeaa88><b>刪除密碼</b></td><td><input type=text name=pwd size=8 maxlength=8 value=""><small>(刪除文章用。英數字8字元以內)</small></td></tr><tr><td bgcolor=#eeaa88><b>畫像認證</b></td><td align=left height="90"><div class="g-recaptcha" data-sitekey="6LeuBPkSAAAAAJKaNezSYDM3ZL4-jfSJu9cWpp_-"></div><tr><td colspan=2><small><LI>可附加圖檔類型：GIF, JPG, PNG, WEBM，瀏覽器才能正常附加圖檔。<LI>圖片寛 250像素、高 250像素以上時自動縮小尺寸顯示。回文可貼圖。<LI>附加圖檔最大上限 3072 KB。在E-mail欄填入sage時，回應不會有推文效果。<li>投稿時請點擊畫像認證後，再按下 [送出] 按鈕提交。
        <li>鬧板、攻擊性發言、煽動性發言請無視（回應者也無視），並用<u>del</u>或在管理部回報。<li>國際、政治類時事新聞話題，請使用<a href="//homu.komica.org/25/index.htm">新聞</a>板進行。</small></td></tr></table></form></center><hr><div class="container"><form action="index.php" method=POST>.
            <div style="float:right; padding-left:10px; padding-bottom:10px;">
                <br><table border="0" cellspacing="0" cellpadding="0">
                    <tr><td>
                        <script type="text/javascript" src="http://107382.medi-8.net/t/033/710/a1033710.js"></script>
                </table>
            </div>
            檔名：<a href="//homu.komica.org/00/src/1486736031610.jpg" target=_blank>1486736031610.jpg</a>-(291944 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="//homu.komica.org/00/src/1486736031610.jpg" target=_blank><img src=//homu.komica.org/00/thumb/1486736031610s.jpg border=0 align=left width=250 height=179 hspace=20 alt="291944 B"></a><input type=checkbox name="8780648" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                <font color=#117743><b>無名</b></font> 17/02/10(五)22:13:51 ID:woJkPinU No.8780648 <a class=del href="javascript:void(0);" onclick="del(8780648);return(false);">del</a> &nbsp;
                [<a href=index.php?res=8780648>返信</a>]<br>
                <blockquote>相信用過MSN的人不在少數<br /><br />大家都會打些什麼句子在狀態呢<br /><br />像是<br /><br />不忘初衷<br /><br />薏仁做事薏仁湯 &#44; 小叮做事小叮噹<br /><br />社會在走，基本行情要有<br /><br />兄弟不問對錯，只問挺不挺<br /><br />有沒有最煞氣MSN狀態名言？</blockquote><table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                    <input type=checkbox name="8780656" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                        <font color=#117743><b>無名</b></font> 17/02/10(五)22:15:24 ID:f4vGaaqg No.8780656 <a class=del href="javascript:void(0);" onclick="del(8780656);return(false);">del</a> &nbsp;
                    <blockquote>全套4000半套1500</blockquote></td></tr></table>
                <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                    <input type=checkbox name="8780665" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                        <font color=#117743><b>無名</b></font> 17/02/10(五)22:18:41 ID:C6nnbx82 No.8780665 <a class=del href="javascript:void(0);" onclick="del(8780665);return(false);">del</a> &nbsp;
                    <blockquote>幹破你娘</blockquote></td></tr></table>
                <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                    <input type=checkbox name="8780671" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                        <font color=#117743><b>無名</b></font> 17/02/10(五)22:20:54 ID:6CseUMPA No.8780671 <a class=del href="javascript:void(0);" onclick="del(8780671);return(false);">del</a> &nbsp;
                    <blockquote>我當初都打回甘就像炫炮</blockquote></td></tr></table>
                <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                    <input type=checkbox name="8780688" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                        <font color=#117743><b>無名</b></font> 17/02/10(五)22:25:27 ID:QlJ45xrk No.8780688 <a class=del href="javascript:void(0);" onclick="del(8780688);return(false);">del</a> &nbsp;
                    <blockquote>500真是欠幹</blockquote></td></tr></table>
            <div class=spacer></div></div><br clear=left><hr>
        檔名：<a href="//homu.komica.org/00/src/1486734290472.jpg" target=_blank>1486734290472.jpg</a>-(244366 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="//homu.komica.org/00/src/1486734290472.jpg" target=_blank><img src=//homu.komica.org/00/thumb/1486734290472s.jpg border=0 align=left width=251 height=157 hspace=20 alt="244366 B"></a><input type=checkbox name="8780552" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
            <font color=#117743><b>無名</b></font> 17/02/10(五)21:44:50 ID:/qZVXpRs No.8780552 <a class=del href="javascript:void(0);" onclick="del(8780552);return(false);">del</a> &nbsp;
            [<a href=index.php?res=8780552>返信</a>]<br>
            <blockquote>島民島民<br />你們在選電源供應器的時候會特別挑有雙路或以上12V的嗎?<br />500W~600W有哪些推薦的呢?<br />預計用來推RX480或GTX1060</blockquote><table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                <input type=checkbox name="8780650" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                    <font color=#117743><b>無名</b></font> 17/02/10(五)22:14:07 ID:/qZVXpRs No.8780650 <a class=del href="javascript:void(0);" onclick="del(8780650);return(false);">del</a> &nbsp;
                    <br>檔名：<a href="//homu.komica.org/00/src/1486736047276.jpg" target=_blank>1486736047276.jpg</a>-(51247 B)<br><a href="//homu.komica.org/00/src/1486736047276.jpg" target=_blank><img src=//homu.komica.org/00/thumb/1486736047276s.jpg border=0 align=left width=125 height=73 hspace=20 alt="51247 B"></a><blockquote>幹  為什麼沒人理我?<br />島民不是都很懂電腦嗎?</blockquote></td></tr></table>
            <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                <input type=checkbox name="8780659" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                    <font color=#117743><b>無名</b></font> 17/02/10(五)22:16:10 ID:eptDlJVs No.8780659 <a class=del href="javascript:void(0);" onclick="del(8780659);return(false);">del</a> &nbsp;
                <blockquote>祭品沒誠意</blockquote></td></tr></table>
            <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                <input type=checkbox name="8780687" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                    <font color=#117743><b>無名</b></font> 17/02/10(五)22:25:22 ID:/qZVXpRs No.8780687 <a class=del href="javascript:void(0);" onclick="del(8780687);return(false);">del</a> &nbsp;
                    <br>檔名：<a href="//homu.komica.org/00/src/1486736722995.jpg" target=_blank>1486736722995.jpg</a>-(51846 B)<br><a href="//homu.komica.org/00/src/1486736722995.jpg" target=_blank><img src=//homu.komica.org/00/thumb/1486736722995s.jpg border=0 align=left width=126 height=117 hspace=20 alt="51846 B"></a><blockquote>那就這個 島民對祭品的胃口越來越大了</blockquote></td></tr></table>
            <div class=spacer></div></div><br clear=left><hr>
            檔名：<a href="//homu.komica.org/00/src/1486736721972.jpg" target=_blank>1486736721972.jpg</a>-(110108 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="//homu.komica.org/00/src/1486736721972.jpg" target=_blank><img src=//homu.komica.org/00/thumb/1486736721972s.jpg border=0 align=left width=250 height=141 hspace=20 alt="110108 B"></a><input type=checkbox name="8780686" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                <font color=#117743><b>無名</b></font> 17/02/10(五)22:25:21 ID:f4vGaaqg No.8780686 <a class=del href="javascript:void(0);" onclick="del(8780686);return(false);">del</a> &nbsp;
                [<a href=index.php?res=8780686>返信</a>]<br>
                <blockquote>大家應該都換pro了吧<br />有沒有島民要賣2手PS4<br />沒有的話我明天再問</blockquote><div class=spacer></div></div><br clear=left><hr>
                檔名：<a href="//homu.komica.org/00/src/1486736719596.jpg" target=_blank>1486736719596.jpg</a>-(245843 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="//homu.komica.org/00/src/1486736719596.jpg" target=_blank><img src=//homu.komica.org/00/thumb/1486736719596s.jpg border=0 align=left width=177 height=250 hspace=20 alt="245843 B"></a><input type=checkbox name="8780685" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                    <font color=#117743><b>無名</b></font> 17/02/10(五)22:25:19 ID:yYeq89mg No.8780685 <a class=del href="javascript:void(0);" onclick="del(8780685);return(false);">del</a> &nbsp;
                    [<a href=index.php?res=8780685>返信</a>]<br>
                    <blockquote>無本文</blockquote><div class=spacer></div></div><br clear=left><hr>
                    檔名：<a href="//homu.komica.org/00/src/1486733478435.jpg" target=_blank>1486733478435.jpg</a>-(83329 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="//homu.komica.org/00/src/1486733478435.jpg" target=_blank><img src=//homu.komica.org/00/thumb/1486733478435s.jpg border=0 align=left width=250 height=167 hspace=20 alt="83329 B"></a><input type=checkbox name="8780518" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                        <font color=#117743><b>無名</b></font> 17/02/10(五)21:31:18 ID:.2BjvRFk No.8780518 <a class=del href="javascript:void(0);" onclick="del(8780518);return(false);">del</a> &nbsp;
                        [<a href=index.php?res=8780518>返信</a>]<br>
                        <blockquote>哪一款遊戲是真正的戰爭遊戲？</blockquote><table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                            <input type=checkbox name="8780533" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                <font color=#117743><b>無名</b></font> 17/02/10(五)21:34:53 ID:b3G1fFvY No.8780533 <a class=del href="javascript:void(0);" onclick="del(8780533);return(false);">del</a> &nbsp;
                            <blockquote>AOE</blockquote></td></tr></table>
                        <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                            <input type=checkbox name="8780684" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                <font color=#117743><b>無名</b></font> 17/02/10(五)22:25:17 ID:vW0EYZlo No.8780684 <a class=del href="javascript:void(0);" onclick="del(8780684);return(false);">del</a> &nbsp;
                            <blockquote>AOE不能幹表妹&#44;不能暗殺兒子&#44;不能搶下臣老婆 算什麼真正的戰爭遊戲!</blockquote></td></tr></table>
                        <div class=spacer></div></div><br clear=left><hr>
                        
                        <div style="float:right; padding-left:10px; padding-bottom:10px;">
                            <br><table border="0" cellspacing="0" cellpadding="0">
                                <tr><td>
                                    <script type="text/javascript" src="http://adplace.adsame.com/s?z=adplace&c=1128"></script>
                            </table>
                        </div>
                        檔名：<a href="//homu.komica.org/00/src/1486719478183.jpg" target=_blank>1486719478183.jpg</a>-(182615 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="//homu.komica.org/00/src/1486719478183.jpg" target=_blank><img src=//homu.komica.org/00/thumb/1486719478183s.jpg border=0 align=left width=250 height=234 hspace=20 alt="182615 B"></a><input type=checkbox name="8779701" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                            <font color=#117743><b>無名</b></font> 17/02/10(五)17:37:58 ID:EbQi.jWU No.8779701 <a class=del href="javascript:void(0);" onclick="del(8779701);return(false);">del</a> &nbsp;
                            [<a href=index.php?res=8779701>返信</a>]<br>
                            <blockquote>島民<br />東京有推薦的景點嗎?<br />大概三月底會去丸個幾天</blockquote><font color="#f00000"><b>このスレは古いので、もうすぐ消えます。</b></font><br>
                            <font color="#707070">回應有25篇被省略。要閱讀所有回應請按下返信連結。</font><br>
                            <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                <input type=checkbox name="8780531" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                    <font color=#117743><b>無名</b></font> 17/02/10(五)21:34:24 ID:sSxNC2Sg No.8780531 <a class=del href="javascript:void(0);" onclick="del(8780531);return(false);">del</a> &nbsp;
                                    <br>檔名：<a href="//homu.komica.org/00/src/1486733664914.jpg" target=_blank>1486733664914.jpg</a>-(824570 B)<br><a href="//homu.komica.org/00/src/1486733664914.jpg" target=_blank><img src=//homu.komica.org/00/thumb/1486733664914s.jpg border=0 align=left width=122 height=125 hspace=20 alt="824570 B"></a><blockquote>阿佐谷<br />New Game場景</blockquote></td></tr></table>
                            <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                <input type=checkbox name="8780540" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                    <font color=#117743><b>無名</b></font> 17/02/10(五)21:40:13 ID:EbQi.jWU No.8780540 <a class=del href="javascript:void(0);" onclick="del(8780540);return(false);">del</a> &nbsp;
                                    <br>檔名：<a href="//homu.komica.org/00/src/1486734013143.jpg" target=_blank>1486734013143.jpg</a>-(707703 B)<br><a href="//homu.komica.org/00/src/1486734013143.jpg" target=_blank><img src=//homu.komica.org/00/thumb/1486734013143s.jpg border=0 align=left width=89 height=125 hspace=20 alt="707703 B"></a><blockquote><font color=789922>&gt;&gt;No.8780506</font><br />秋葉原是可以逛一整天逛不完的地方嗎?<br />在想要不要排其他行程進秋葉原那天<br /><br /><font color=789922>&gt;&gt;No.8780515</font><br />可以進去的話就會去看看ㄛ<br /><br /><font color=789922>&gt;&gt;No.8780530</font><br />水族館!<br />感覺海鰻炫泡的ㄛ<br /><br /><font color=789922>&gt;&gt;No.8780531</font><br />查了一下<br />車站旁還真的有麵包店啊!甜甜圈!</blockquote></td></tr></table>
                            <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                <input type=checkbox name="8780581" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                    <font color=#117743><b>無名</b></font> 17/02/10(五)21:50:26 ID:GAIaarj. No.8780581 <a class=del href="javascript:void(0);" onclick="del(8780581);return(false);">del</a> &nbsp;
                                <blockquote>對ACG不是很瘋的話<br />秋葉原可以跟一些行程安排在一起<br />旁邊是就LL的神田明神神社&#44; 搭個2站是上野和淺草<br />其實一早可以先去築地</blockquote></td></tr></table>
                            <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                <input type=checkbox name="8780603" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                    <font color=#117743><b>無名</b></font> 17/02/10(五)21:56:49 ID:aiSkT2Ao No.8780603 <a class=del href="javascript:void(0);" onclick="del(8780603);return(false);">del</a> &nbsp;
                                    <br>檔名：<a href="//homu.komica.org/00/src/1486735009717.jpg" target=_blank>1486735009717.jpg</a>-(520580 B)<br><a href="//homu.komica.org/00/src/1486735009717.jpg" target=_blank><img src=//homu.komica.org/00/thumb/1486735009717s.jpg border=0 align=left width=118 height=125 hspace=20 alt="520580 B"></a><blockquote><font color=789922>&gt;&gt;No.8780540</font><br /><br />在東京站轉京葉線去葛西臨海公園站要走很遠才轉到車<br /><br />小心不要玩太累</blockquote></td></tr></table>
                            <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                <input type=checkbox name="8780620" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                    <font color=#117743><b>無名</b></font> 17/02/10(五)22:04:21 ID:EbQi.jWU No.8780620 <a class=del href="javascript:void(0);" onclick="del(8780620);return(false);">del</a> &nbsp;
                                    <br>檔名：<a href="//homu.komica.org/00/src/1486735461731.png" target=_blank>1486735461731.png</a>-(1291021 B)<br><a href="//homu.komica.org/00/src/1486735461731.png" target=_blank><img src=//homu.komica.org/00/thumb/1486735461731s.jpg border=0 align=left width=125 height=81 hspace=20 alt="1291021 B"></a><blockquote><font color=789922>&gt;&gt;No.8780581 </font><br />沒辦法說不是很瘋呢w<br />不過對LL沒什麼太大的興趣就是了<br />築地應該就吃海產吧 不過之前是不是有說那邊的店家不太歡迎外國人?<br /><br /><font color=789922>&gt;&gt;No.8780603</font><br />好ㄛ 謝謝提醒<br />不過太遠的話就不一定會去ㄛ</blockquote></td></tr></table>
                            <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                <input type=checkbox name="8780646" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                    <font color=#117743><b>無名</b></font> 17/02/10(五)22:13:26 ID:6mfH0RfE No.8780646 <a class=del href="javascript:void(0);" onclick="del(8780646);return(false);">del</a> &nbsp;
                                    <br>檔名：<a href="//homu.komica.org/00/src/1486736006202.jpg" target=_blank>1486736006202.jpg</a>-(12638 B)<br><a href="//homu.komica.org/00/src/1486736006202.jpg" target=_blank><img src=//homu.komica.org/00/thumb/1486736006202s.jpg border=0 align=left width=125 height=125 hspace=20 alt="12638 B"></a><blockquote>ˊ築地市場拆了啦<br />情弱</blockquote></td></tr></table>
                            <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                <input type=checkbox name="8780657" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                    <font color=#117743><b>無名</b></font> 17/02/10(五)22:15:42 ID:GAIaarj. No.8780657 <a class=del href="javascript:void(0);" onclick="del(8780657);return(false);">del</a> &nbsp;
                                    <br>檔名：<a href="//homu.komica.org/00/src/1486736142032.jpg" target=_blank>1486736142032.jpg</a>-(422722 B)<br><a href="//homu.komica.org/00/src/1486736142032.jpg" target=_blank><img src=//homu.komica.org/00/thumb/1486736142032s.jpg border=0 align=left width=125 height=84 hspace=20 alt="422722 B"></a><blockquote>單就神社而言也有400年歷史 是值得去的地方<br />築地本來就很多外國遊客<br />少數幾家態度不是很好而已 像賣牛雜丼的狐狸家<br /><br /><font color=789922>&gt;6mfH0RfE</font><br />你可能連場外市場和場內市場是什麼都不知道吧</blockquote></td></tr></table>
                            <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                <input type=checkbox name="8780662" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                    <font color=#117743><b>無名</b></font> 17/02/10(五)22:18:02 ID:GAIaarj. No.8780662 <a class=del href="javascript:void(0);" onclick="del(8780662);return(false);">del</a> &nbsp;
                                <blockquote>補充一下<br />場內市場因為豐洲勘驗汙染問題<br />預估延到2017年底才搬</blockquote></td></tr></table>
                            <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                <input type=checkbox name="8780672" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                    <font color=#117743><b>無名</b></font> 17/02/10(五)22:20:58 ID:y0Cgsfzk No.8780672 <a class=del href="javascript:void(0);" onclick="del(8780672);return(false);">del</a> &nbsp;
                                    <br>檔名：<a href="//homu.komica.org/00/src/1486736458992.jpg" target=_blank>1486736458992.jpg</a>-(153803 B)<br><a href="//homu.komica.org/00/src/1486736458992.jpg" target=_blank><img src=//homu.komica.org/00/thumb/1486736458992s.jpg border=0 align=left width=125 height=81 hspace=20 alt="153803 B"></a><blockquote>情弱www</blockquote></td></tr></table>
                            <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                <input type=checkbox name="8780683" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                    <font color=#117743><b>無名</b></font> 17/02/10(五)22:25:04 ID:wTPgke1Y No.8780683 <a class=del href="javascript:void(0);" onclick="del(8780683);return(false);">del</a> &nbsp;
                                <blockquote><font color=789922>&gt;No.8780646 </font><br />情弱肥宅你好<br />這裡是日本肥宅 <br />築地市場已經經過好幾次搬遷延期<br />目前最新是年底前都不會搬<br /><br />只是玩個幾天就去淺草.明治神宮.新宿.秋葉原這些外國人一堆的景點吧<br />葛西臨海公園水族館蠻不錯的我人就住在葛西<br />不過我三月中就回國了</blockquote></td></tr></table>
                            <div class=spacer></div></div><br clear=left><hr>
                            檔名：<a href="//homu.komica.org/00/src/1486735285723.jpg" target=_blank>1486735285723.jpg</a>-(20749 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="//homu.komica.org/00/src/1486735285723.jpg" target=_blank><img src=//homu.komica.org/00/thumb/1486735285723s.jpg border=0 align=left width=250 height=238 hspace=20 alt="20749 B"></a><input type=checkbox name="8780612" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                <font color=#117743><b>無名</b></font> 17/02/10(五)22:01:25 ID:JWxnj1h6 No.8780612 <a class=del href="javascript:void(0);" onclick="del(8780612);return(false);">del</a> &nbsp;
                                [<a href=index.php?res=8780612>返信</a>]<br>
                                <blockquote>西方有巫師3<br />日本有仁王<br /><br />那類似這種的宣揚自己文化的中國遊戲怎麼沒有</blockquote><table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                    <input type=checkbox name="8780618" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                        <font color=#117743><b>無名</b></font> 17/02/10(五)22:03:49 ID:.dz7YP8k No.8780618 <a class=del href="javascript:void(0);" onclick="del(8780618);return(false);">del</a> &nbsp;
                                    <blockquote>那好<br /><br />我們就來規劃一款跟64天安門有關的文化遊戲<br /><br />首先要找中國人來...什麼?你說你不能講64??</blockquote></td></tr></table>
                                <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                    <input type=checkbox name="8780639" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                        <font color=#117743><b>無名</b></font> 17/02/10(五)22:11:19 ID:lfdPG4cY No.8780639 <a class=del href="javascript:void(0);" onclick="del(8780639);return(false);">del</a> &nbsp;
                                    <blockquote>有什麼好宣傳的<br />中國文化就是一坨屎<br />屎再怎麼宣揚還是一坨屎</blockquote></td></tr></table>
                                <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                    <input type=checkbox name="8780658" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                        <font color=#117743><b>無名</b></font> 17/02/10(五)22:16:06 ID:A41DXNrM No.8780658 <a class=del href="javascript:void(0);" onclick="del(8780658);return(false);">del</a> &nbsp;
                                        <br>檔名：<a href="//homu.komica.org/00/src/1486736166039.jpg" target=_blank>1486736166039.jpg</a>-(23477 B)<br><a href="//homu.komica.org/00/src/1486736166039.jpg" target=_blank><img src=//homu.komica.org/00/thumb/1486736166039s.jpg border=0 align=left width=125 height=119 hspace=20 alt="23477 B"></a><blockquote>把孫悟空拿來做類似遊戲就很厲害了<br />中國神化也有很多害獸之類的<br />但感覺日本才有辦法做到好<br /><br />技能就 拔毛放分身<br />大絕金箍棒放大揮舞<br />之類的 應該有很多花招可以玩</blockquote></td></tr></table>
                                <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                    <input type=checkbox name="8780664" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                        <font color=#117743><b>無名</b></font> 17/02/10(五)22:18:37 ID:eptDlJVs No.8780664 <a class=del href="javascript:void(0);" onclick="del(8780664);return(false);">del</a> &nbsp;
                                    <blockquote>中國文化與當前的中共是應該分開看待的 而中國文化題材遊戲是很多的</blockquote></td></tr></table>
                                <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                    <input type=checkbox name="8780666" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                        <font color=#117743><b>無名</b></font> 17/02/10(五)22:18:44 ID:b3G1fFvY No.8780666 <a class=del href="javascript:void(0);" onclick="del(8780666);return(false);">del</a> &nbsp;
                                    <blockquote>HK97</blockquote></td></tr></table>
                                <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                    <input type=checkbox name="8780675" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                        <font color=#117743><b>無名</b></font> 17/02/10(五)22:21:50 ID:cSLjsYrE No.8780675 <a class=del href="javascript:void(0);" onclick="del(8780675);return(false);">del</a> &nbsp;
                                    <blockquote>有一款主角就是孫悟空猴子造型的動作遊戲阿<br /><br />最近這幾年才移植上PC的<br /><br />一時間想不起來到底叫什麼，不過遊戲跟中國文化無關就是了</blockquote></td></tr></table>
                                <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                    <input type=checkbox name="8780680" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                        <font color=#117743><b>無名</b></font> 17/02/10(五)22:24:04 ID:cSLjsYrE No.8780680 <a class=del href="javascript:void(0);" onclick="del(8780680);return(false);">del</a> &nbsp;
                                    <blockquote>https://acg.gamer.com.tw/acgDetail.php?s=65020<br /><br />終於想起來了<br /><br />幻想西遊記啦</blockquote></td></tr></table>
                                <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                    <input type=checkbox name="8780682" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                        <font color=#117743><b>無名</b></font> 17/02/10(五)22:25:03 ID:RyzKEAUA No.8780682 <a class=del href="javascript:void(0);" onclick="del(8780682);return(false);">del</a> &nbsp;
                                    <blockquote>不用中國宣揚<br />日本就會幫忙宣揚了<br />比如什麼三國啊&#44;西遊啊<br />日本都會幫忙賺</blockquote></td></tr></table>
                                <div class=spacer></div></div><br clear=left><hr>
                                檔名：<a href="//homu.komica.org/00/src/1486736475625.jpg" target=_blank>1486736475625.jpg</a>-(811153 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="//homu.komica.org/00/src/1486736475625.jpg" target=_blank><img src=//homu.komica.org/00/thumb/1486736475625s.jpg border=0 align=left width=250 height=249 hspace=20 alt="811153 B"></a><input type=checkbox name="8780674" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                    <font color=#117743><b>無名</b></font> 17/02/10(五)22:21:15 ID:R1Jvr0Ik No.8780674 <a class=del href="javascript:void(0);" onclick="del(8780674);return(false);">del</a> &nbsp;
                                    [<a href=index.php?res=8780674>返信</a>]<br>
                                    <blockquote>短髮妹太棒了!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br />我話說完誰贊成誰反對</blockquote><table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                        <input type=checkbox name="8780677" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                            <font color=#117743><b>無名</b></font> 17/02/10(五)22:23:19 ID:emHagg9I No.8780677 <a class=del href="javascript:void(0);" onclick="del(8780677);return(false);">del</a> &nbsp;
                                            <br>檔名：<a href="//homu.komica.org/00/src/1486736599214.jpg" target=_blank>1486736599214.jpg</a>-(126521 B)<br><a href="//homu.komica.org/00/src/1486736599214.jpg" target=_blank><img src=//homu.komica.org/00/thumb/1486736599214s.jpg border=0 align=left width=100 height=125 hspace=20 alt="126521 B"></a><blockquote>我反對</blockquote></td></tr></table>
                                    <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                        <input type=checkbox name="8780681" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                            <font color=#117743><b>無名</b></font> 17/02/10(五)22:24:59 ID:Xzc6Oerg No.8780681 <a class=del href="javascript:void(0);" onclick="del(8780681);return(false);">del</a> &nbsp;
                                            <br>檔名：<a href="//homu.komica.org/00/src/1486736699462.jpg" target=_blank>1486736699462.jpg</a>-(62468 B)<br><a href="//homu.komica.org/00/src/1486736699462.jpg" target=_blank><img src=//homu.komica.org/00/thumb/1486736699462s.jpg border=0 align=left width=125 height=109 hspace=20 alt="62468 B"></a><blockquote>短髮妹太棒了!!!!!!!!!!!!!!!!!!!!!!!!!!!!<br />我話說完誰贊成誰反對</blockquote></td></tr></table>
                                    <div class=spacer></div></div><br clear=left><hr>
                                    檔名：<a href="//homu.komica.org/00/src/1486734113133.jpg" target=_blank>1486734113133.jpg</a>-(166657 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="//homu.komica.org/00/src/1486734113133.jpg" target=_blank><img src=//homu.komica.org/00/thumb/1486734113133s.jpg border=0 align=left width=251 height=141 hspace=20 alt="166657 B"></a><input type=checkbox name="8780544" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                        <font color=#117743><b>無名</b></font> 17/02/10(五)21:41:53 ID:Tnqs8B66 No.8780544 <a class=del href="javascript:void(0);" onclick="del(8780544);return(false);">del</a> &nbsp;
                                        [<a href=index.php?res=8780544>返信</a>]<br>
                                        <blockquote>香港尖沙嘴地鐵站今（10日）晚間傳出火警，目擊者指出車頭位置發生爆炸，多人燒傷，地鐵站緊急疏散乘客。<br /><br />波波又在到處犯罪了</blockquote><table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                            <input type=checkbox name="8780679" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                                <font color=#117743><b>無名</b></font> 17/02/10(五)22:23:49 ID:C6nnbx82 No.8780679 <a class=del href="javascript:void(0);" onclick="del(8780679);return(false);">del</a> &nbsp;
                                                <br>檔名：<a href="//homu.komica.org/00/src/1486736629498.jpg" target=_blank>1486736629498.jpg</a>-(118348 B)<br><a href="//homu.komica.org/00/src/1486736629498.jpg" target=_blank><img src=//homu.komica.org/00/thumb/1486736629498s.jpg border=0 align=left width=94 height=126 hspace=20 alt="118348 B"></a><blockquote>燙</blockquote></td></tr></table>
                                        <div class=spacer></div></div><br clear=left><hr>
                                        檔名：<a href="//homu.komica.org/00/src/1486735542935.jpg" target=_blank>1486735542935.jpg</a>-(9753 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="//homu.komica.org/00/src/1486735542935.jpg" target=_blank><img src=//homu.komica.org/00/thumb/1486735542935s.jpg border=0 align=left width=174 height=250 hspace=20 alt="9753 B"></a><input type=checkbox name="8780622" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
                                            <font color=#117743><b>無名</b></font> 17/02/10(五)22:05:42 ID:vTJ./bFw No.8780622 <a class=del href="javascript:void(0);" onclick="del(8780622);return(false);">del</a> &nbsp; 
                                            [<a href=index.php?res=8780622>返信</a>]<br>
                                            <blockquote>現在2K左右可以買到甚麼等級的顯卡？</blockquote><table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                                <input type=checkbox name="8780624" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
                                                    <font color=#117743><b>無名</b></font> 17/02/10(五)22:07:35 ID:ce7zNPvM No.8780624 <a class=del href="javascript:void(0);" onclick="del(8780624);return(false);">del</a> &nbsp; 
                                                    <br>檔名：<a href="//homu.komica.org/00/src/1486735655054.jpg" target=_blank>1486735655054.jpg</a>-(75664 B)<br><a href="//homu.komica.org/00/src/1486735655054.jpg" target=_blank><img src=//homu.komica.org/00/thumb/1486735655054s.jpg border=0 align=left width=125 height=95 hspace=20 alt="75664 B"></a><blockquote>780TI</blockquote></td></tr></table>
                                            <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                                <input type=checkbox name="8780628" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
                                                    <font color=#117743><b>無名</b></font> 17/02/10(五)22:08:32 ID:JMXP0G7g No.8780628 <a class=del href="javascript:void(0);" onclick="del(8780628);return(false);">del</a> &nbsp; 
                                                    <br>檔名：<a href="//homu.komica.org/00/src/1486735712171.gif" target=_blank>1486735712171.gif</a>-(163672 B)<br><a href="//homu.komica.org/00/src/1486735712171.gif" target=_blank><img src=//homu.komica.org/00/thumb/1486735712171s.jpg border=0 align=left width=125 height=125 hspace=20 alt="163672 B"></a><blockquote>730ㄅ</blockquote></td></tr></table>
                                            <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                                <input type=checkbox name="8780633" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
                                                    <font color=#117743><b>無名</b></font> 17/02/10(五)22:09:21 ID:JMXP0G7g No.8780633 <a class=del href="javascript:void(0);" onclick="del(8780633);return(false);">del</a> &nbsp; 
                                                    <br>檔名：<a href="//homu.komica.org/00/src/1486735761750.jpg" target=_blank>1486735761750.jpg</a>-(106984 B)<br><a href="//homu.komica.org/00/src/1486735761750.jpg" target=_blank><img src=//homu.komica.org/00/thumb/1486735761750s.jpg border=0 align=left width=125 height=125 hspace=20 alt="106984 B"></a><blockquote>好吧我錯了QQ</blockquote></td></tr></table>
                                            <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                                <input type=checkbox name="8780661" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
                                                    <font color=#117743><b>無名</b></font> 17/02/10(五)22:17:49 ID:1lywAXys No.8780661 <a class=del href="javascript:void(0);" onclick="del(8780661);return(false);">del</a> &nbsp; 
                                                <blockquote>我去年剛換一張960下來<br />你多貼500 我2500賣<br />留個資料我會跟你聯絡</blockquote></td></tr></table>
                                            <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                                <input type=checkbox name="8780678" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
                                                    <font color=#117743><b>無名</b></font> 17/02/10(五)22:23:24 ID:/GQyGmEI No.8780678 <a class=del href="javascript:void(0);" onclick="del(8780678);return(false);">del</a> &nbsp; 
                                                <blockquote>乾脆不要買<br />2000元的顯卡<br />跟intel內顯差不多</blockquote></td></tr></table>
                                            <div class=spacer></div></div><br clear=left><hr>
                                            <table align=right><tr><td nowrap align=center><input type=hidden name=mode value=usrdel>【刪除文章】[<input type=checkbox name=onlyimgdel value=on>僅刪除附加圖檔]<br>刪除密碼 <input type=text name=pwd size=8 maxlength=8 value=""><input type=submit value="刪除"></form></td></tr></table><table align=left border=1><tr><td>最前頁</td><td>[<b>0</b>] [<a href="1.htm">1</a>] [<a href="2.htm">2</a>] [<a href="3.htm">3</a>] [<a href="4.htm">4</a>] [<a href="5.htm">5</a>] [<a href="6.htm">6</a>] [<a href="7.htm">7</a>] [<a href="8.htm">8</a>] [<a href="9.htm">9</a>] [以下省略]</td><form action="1.htm" method=get><td><input type=submit value="下一頁"></td></form></tr></table><br clear=all>
                                            
                                            <center>
                                                
                                                <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
                                                    </script>
                                                <script type="text/javascript">
                                                    _uacct = "UA-114117-2";
                                                    urchinTracker();
                                                    </script>
                                                
                                                <center>
                                                    
                                                    <br clear=all>
                                                    
                                                    <table border="0" cellspacing="0" cellpadding="1">
                                                        <tr><td><script type="text/javascript" src="http://adplace.adsame.com/s?z=adplace&c=1127"></script></table>
                                                    
                                                    <br clear=all>
                                                    
                                                    <small>
                                                        - <a href="http://php.s3.to" target=_top>GazouBBS</a> + <a href="http://www.2chan.net/" target=_top>futaba</a> + <a href="http://siokara.que.jp/" target=_top>siokara</a> -<br>All trademarks and copyrights on this page are owned by their respective owners.<br>Images uploaded are the responsibility of the Poster. Comments are owned by the Poster.
                                                    </small>
                                                    
                                                    <p>
                                                    
                                                    <table><tr><td>
                                                        
                                                        <script id="_wau8a5">var _wau = _wau || []; _wau.push(["small", "2fzofpbvempd", "8a5"]);
                                                            (function() {var s=document.createElement("script"); s.async=true;
                                                             s.src="http://widgets.amung.us/small.js";
                                                             document.getElementsByTagName("head")[0].appendChild(s);
                                                             })();</script>
                                                        
                                                        <td>
                                                            <script id="_waulzo">var _wau = _wau || []; _wau.push(["small", "a9367johv6so", "lzo"]);
                                                                (function() {var s=document.createElement("script"); s.async=true;
                                                                 s.src="//widgets.amung.us/small.js";
                                                                 document.getElementsByTagName("head")[0].appendChild(s);
                                                                 })();</script>
                                                            
                                                </center></body></html>
