

<head>
    <META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=utf-8">
        <META HTTP-EQUIV="pragma" CONTENT="no-cache">
            <META HTTP-EQUIV="last-modified" CONTENT="Thu, 1 Jan 1970 00:00:00 GMT">
                <META HTTP-EQUIV="expires" CONTENT="Thu, 1 Jan 1970 00:00:00 GMT">
                    <META NAME="viewport" CONTENT="width=device-width, initial-scale=1">
                        <STYLE TYPE="text/css">
                            <!--
                            body,tr,td,th { font-size:12pt }
                            a:hover { color:#DD0000; }
                            a.del { color:#800000; }
                            span { font-size:20pt }
                            small { font-size:10pt }
                            .hide { display: none; }
                            .spacer { clear: both; }
                            .divcss5 {border:0px solid #000; width:90px; height:90px}
                            .divcss5 img {height:90px; width:90px}
                            .divcss5 embed {height:90px; width:90px}
                            -->
                            </STYLE>
                        <title>綜合</title>
                        <script language="JavaScript"><!--
                            //function l(e){var P=getCookie("pwdc"),N=getCookie("namec"),i;with(document){for(i=0;i<forms.length;i++){if(forms[i].pwd)with(forms[i]){pwd.value=P;}if(forms[i].name)with(forms[i]){name.value=N;}}}};onload=l;function getCookie(key, tmp1, tmp2, xx1, xx2, xx3) {tmp1 = " " + document.cookie + ";";xx1 = xx2 = 0;len = tmp1.length;	while (xx1 < len) {xx2 = tmp1.indexOf(";", xx1);tmp2 = tmp1.substring(xx1 + 1, xx2);xx3 = tmp2.indexOf("=");if (tmp2.substring(0, xx3) == key) {return(decodeURL(tmp2.substring(xx3 + 1, xx2 - xx1 - 1)));}xx1 = xx2 + 1;}return("");}
                            function decodeURL(str){var s0="",i,j,s,ss,u,n,f,sss;for(i=0;i<str.length;i++){s=str.charAt(i);if(s=="+"){s0+=" ";}else{if(s!="%"){s0+=s;}else{u=0;f=1;while(true){ss="";for(j=0;j<2;j++){sss=str.charAt(++i);if(((sss>="0")&&(sss<="9"))||((sss>="a")&&(sss<="f"))||((sss>="A")&&(sss<="F"))){ss+=sss;}else{--i;break;}}n=parseInt(ss,16);if(n<=0x7f){u=n;f=1;}if((n>=0xc0)&&(n<=0xdf)){u=n&0x1f;f=2;}if((n>=0xe0)&&(n<=0xef)){u=n&0x0f;f=3;}if((n>=0xf0)&&(n<=0xf7)){u=n&0x07;f=4;}if((n>=0x80)&&(n<=0xbf)){u=(u<<6)+(n&0x3f);--f;}if(f<=1){break;}if(str.charAt(i+1)=="%"){i++;}else{break;}}s0+=String.fromCharCode(u);}}}return s0;}
                            function del(d){self.location.href="./del.php?b="+00+"&d="+d;};
                            //--></script>
                        <!--script type="text/javascript" src="http://k0.dreamhosters.com/get_ip.php"></xscript>
                         <xscript>
                         document.cookie = "ipx2=" + myip;
                         </xscript-->
                        <script src="http://www.google.com/recaptcha/api.js"></script>
</head>
<body bgcolor="#FFFFEE" text="#800000" link="#0000EE" vlink="#0000EE">
    <p align=right>
    [<a href="http://komica.org/" target="_top">首頁</a>]
    [<a href="http://homu.komica.org/00/m/" target="_self">行動版</a>]
    [<a href="http://archive.komica.org/00/index.php?mode=list">檔案區</a>]
    [<a href="index.php?mode=admin">管理用</a>]
    <p align=center>
    <font color="#800000" size=5>
        <b><SPAN>綜合</SPAN></b></font>
    <hr width="90%" size=1>
    <p>
    <center>
        <table border="0" cellspacing="0" cellpadding="1">
            <tr align=center>
                <td>
                    <script type="text/javascript" src="http://adplace.adsame.com/s?z=adplace&c=1127"></script>
                    </table>
    </center>
    <p>
    <hr>
    <p>
    <script type="text/javascript">ReDirUrl = "http://homu.komica.org/00/m/"</script>
    <script type="text/javascript" src="http://homu.komica.org/00/MobileRedirection.js"></script>
    <center>
        <div style="float:right; padding-left:10px; padding-bottom:10px;">
            <br>
            <table border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>
                        <script type="text/javascript" src="http://homu.komica.org/js/myacg_00.js"></script>
                        </table>
        </div>
        <form action="index.php" method="POST" enctype="multipart/form-data">
            <input type=hidden name=mode value="regist"><input type=hidden name="MAX_FILE_SIZE" value="3145728">
                <table border=0 cellpadding=1 cellspacing=1>
                    <tr class="hide">
                        <td bgcolor=#eeaa88><b>名　　稱</b></td>
                        <td><input type=hidden name=name size="28"></td>
                    </tr>
                    <tr>
                        <td bgcolor=#eeaa88><b>E-mail</b></td>
                        <td><input type=text name=email size="28">&nbsp;<input type=submit value="送　出"></td>
                    </tr>
                    <tr class="hide">
                        <td bgcolor=#eeaa88><b>題　　名</b></td>
                        <td><input type=hidden name=sub size="35"></td>
                    </tr>
                    <tr>
                        <td bgcolor=#eeaa88><b>內　　文</b></td>
                        <td><textarea name=comx5113 cols="48" rows="4" wrap=soft></textarea></td>
                    </tr>
                    <tr>
                        <td bgcolor=#eeaa88><b>附加圖檔</b></td>
                        <td><input type=file name=upfile size="35">&nbsp;[<label><input type=checkbox name=textonly value=on>無貼圖</label>]</td>
                    </tr>
                    <tr>
                        <td bgcolor=#eeaa88><b>刪除密碼</b></td>
                        <td><input type=password name=pwd size=8 maxlength=8 value=""><small>(刪除文章用。英數字8字元以內)</small></td>
                    </tr>
                    <tr>
                        <td bgcolor=#eeaa88><b>畫像認證</b></td>
                        <td align=left height="90">
                            <div class="g-recaptcha" data-sitekey="6LeuBPkSAAAAAJKaNezSYDM3ZL4-jfSJu9cWpp_-"></div>
                            <tr>
                                <td colspan=2>
                                    <small>
                                        <LI>可附加圖檔類型：GIF, JPG, PNG，瀏覽器才能正常附加圖檔。
                                            <LI>圖片寛 250像素、高 250像素以上時自動縮小尺寸顯示。回文可貼圖。
                                                <LI>附加圖檔最大上限 3072 KB。在E-mail欄填入sage時，回應不會有推文效果。
                                                    <li>投稿時請點擊畫像認證後，再按下 [送出] 按鈕提交。
                                                        <li>
                                                            國際、政治類時事新聞話題，請使用<a href="http://homu.komica.org/25/index.htm">新聞</a>板進行。
                                                            </small>
                                </td>
                            </tr>
                            </table>
                </form>
    </center>
    <hr>
    <div style="float:right; padding-left:10px; padding-bottom:10px;">
        <br><table border="0" cellspacing="0" cellpadding="0">
            <tr><td>
                <script type="text/javascript" src="http://adplace.adsame.com/s?z=adplace&c=1128"></script>
                </table>
    </div>
    <!--ad--><form action="index.php" method=POST>檔名：<a href="http://homu.komica.org/00/src/1460013168702.jpg" target=_blank>1460013168702.jpg</a>-(405244 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460013168702.jpg" target=_blank><img src=http://homu.komica.org/00/thumb/1460013168702s.jpg border=0 align=left width=188 height=250 hspace=20 alt="405244 B"></a><input type=checkbox name="7649643" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
        <font color=#117743><b>無名</b></font> 16/04/07(四)15:12:48 ID:mYfVFS9k No.7649643 <a class=del href="javascript:void(0);" onclick="del(7649643);return(false);">del</a> &nbsp;
        [<a href=index.php?res=7649643>返信</a>]<br>
        <blockquote>當美少女是什麼感覺?</blockquote><table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
            <input type=checkbox name="7649667" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                <font color=#117743><b>無名</b></font> 16/04/07(四)15:17:11 ID:k.yHmQrA No.7649667 <a class=del href="javascript:void(0);" onclick="del(7649667);return(false);">del</a> &nbsp;
                <br>檔名：<a href="http://homu.komica.org/00/src/1460013431787.jpg" target=_blank>1460013431787.jpg</a>-(46175 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460013431787.jpg" target=_blank><img src=http://homu.komica.org/00/thumb/1460013431787s.jpg border=0 align=left width=71 height=126 hspace=20 alt="46175 B"></a><blockquote>無本文</blockquote></td></tr></table>
        <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
            <input type=checkbox name="7649746" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                <font color=#117743><b>無名</b></font> 16/04/07(四)15:40:51 ID:mYfVFS9k No.7649746 <a class=del href="javascript:void(0);" onclick="del(7649746);return(false);">del</a> &nbsp;
                <br>檔名：<a href="http://homu.komica.org/00/src/1460014851845.jpg" target=_blank>1460014851845.jpg</a>-(118411 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460014851845.jpg" target=_blank><img src=http://homu.komica.org/00/thumb/1460014851845s.jpg border=0 align=left width=126 height=89 hspace=20 alt="118411 B"></a><blockquote>沒人知道喔</blockquote></td></tr></table>
        <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
            <input type=checkbox name="7650203" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                <font color=#117743><b>無名</b></font> 16/04/07(四)17:49:35 ID:snj9zrDw No.7650203 <a class=del href="javascript:void(0);" onclick="del(7650203);return(false);">del</a> &nbsp;
            <blockquote>不會問教授嗎?</blockquote></td></tr></table>
        <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
            <input type=checkbox name="7650214" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                <font color=#117743><b>無名</b></font> 16/04/07(四)17:52:49 ID:q5XW2ihg No.7650214 <a class=del href="javascript:void(0);" onclick="del(7650214);return(false);">del</a> &nbsp;
            <blockquote>問真白甲甲<br />他是綜合肥宅中最接近美少女的人<br />不然問幕內<br />他是綜合裡唯一有接受過真白甲甲服務的人</blockquote></td></tr></table>
        <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
            <input type=checkbox name="7650222" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                <font color=#117743><b>無名</b></font> 16/04/07(四)17:55:21 ID:.pDMTip. No.7650222 <a class=del href="javascript:void(0);" onclick="del(7650222);return(false);">del</a> &nbsp;
            <blockquote>肯定是墮落的感覺<br />為什麼每個男生都要對我這麼好<br />算了...不利用白不用(眼神死)</blockquote></td></tr></table>
        <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
            <input type=checkbox name="7650233" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                <font color=#117743><b>無名</b></font> 16/04/07(四)17:57:46 ID:Y1ycFud6 No.7650233 <a class=del href="javascript:void(0);" onclick="del(7650233);return(false);">del</a> &nbsp;
                <br>檔名：<a href="http://homu.komica.org/00/src/1460023066800.jpg" target=_blank>1460023066800.jpg</a>-(201485 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460023066800.jpg" target=_blank><img src=http://homu.komica.org/00/thumb/1460023066800s.jpg border=0 align=left width=125 height=83 hspace=20 alt="201485 B"></a><blockquote>綜合女神：爽的咧！</blockquote></td></tr></table>
        <div class=spacer></div></div><br clear=left><hr>
        檔名：<a href="http://homu.komica.org/00/src/1460021645856.png" target=_blank>1460021645856.png</a>-(675221 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460021645856.png" target=_blank><img src=http://homu.komica.org/00/thumb/1460021645856s.jpg border=0 align=left width=250 height=203 hspace=20 alt="675221 B"></a><input type=checkbox name="7650148" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
            <font color=#117743><b>無名</b></font> 16/04/07(四)17:34:05 ID:KOHzrtbA No.7650148 <a class=del href="javascript:void(0);" onclick="del(7650148);return(false);">del</a> &nbsp;
            [<a href=index.php?res=7650148>返信</a>]<br>
            <blockquote>中永和有推薦的清節流閥跟噴嘴的店嗎?<br /><br />多少$?</blockquote><table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                <input type=checkbox name="7650166" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                    <font color=#117743><b>無名</b></font> 16/04/07(四)17:37:33 ID:mZ3dlC7k No.7650166 <a class=del href="javascript:void(0);" onclick="del(7650166);return(false);">del</a> &nbsp;
                <blockquote>去平常去的店問<br />不然就找離家近的店問</blockquote></td></tr></table>
            <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                <input type=checkbox name="7650207" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                    <font color=#117743><b>無名</b></font> 16/04/07(四)17:51:16 ID:KOHzrtbA No.7650207 <a class=del href="javascript:void(0);" onclick="del(7650207);return(false);">del</a> &nbsp;
                    <br>檔名：<a href="http://homu.komica.org/00/src/1460022676890.jpg" target=_blank>1460022676890.jpg</a>-(391678 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460022676890.jpg" target=_blank><img src=http://homu.komica.org/00/thumb/1460022676890s.jpg border=0 align=left width=125 height=78 hspace=20 alt="391678 B"></a><blockquote>我家附近有兩家<br />我不常去的那間 不知道是客人少還是怎樣<br />黑到炸懶叫 除了驗排氣這種免費的之外我根本不會去<br /><br />另一家沒那麼黑 但是還是很黑 <br />每次都修東修西 幾乎都不會一次給你修好<br />而且他連電腦都沒有 我不覺得他會清噴嘴<br />要消故障燈都是叫徒弟騎去別的地方請人消<br /><br />另一間常去的師傅也超黑<br />不過他都可以一次把問題修好<br />黑就給他黑<br />但是我也不覺得他有在幫人清噴嘴</blockquote></td></tr></table>
            <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                <input type=checkbox name="7650232" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                    <font color=#117743><b>無名</b></font> 16/04/07(四)17:57:43 ID:KOHzrtbA No.7650232 <a class=del href="javascript:void(0);" onclick="del(7650232);return(false);">del</a> &nbsp;
                    <br>檔名：<a href="http://homu.komica.org/00/src/1460023063902.jpg" target=_blank>1460023063902.jpg</a>-(854771 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460023063902.jpg" target=_blank><img src=http://homu.komica.org/00/thumb/1460023063902s.jpg border=0 align=left width=88 height=125 hspace=20 alt="854771 B"></a><blockquote>噴射車就是維修保養最麻煩<br />這個東西沒有工具沒辦法自己清<br />故障燈亮一定要牽去消<br />自己換零件燈也不會熄掉</blockquote></td></tr></table>
            <div class=spacer></div></div><br clear=left><hr>
            檔名：<a href="http://homu.komica.org/00/src/1460018757508.jpg" target=_blank>1460018757508.jpg</a>-(244819 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460018757508.jpg" target=_blank><img src=http://homu.komica.org/00/thumb/1460018757508s.jpg border=0 align=left width=212 height=250 hspace=20 alt="244819 B"></a><input type=checkbox name="7649903" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                <font color=#117743><b>無名</b></font> 16/04/07(四)16:45:57 ID:cA.sLvpg No.7649903 <a class=del href="javascript:void(0);" onclick="del(7649903);return(false);">del</a> &nbsp;
                [<a href=index.php?res=7649903>返信</a>]<br>
                <blockquote>「來來哥」學運力挺服貿　涉組織犯罪被捕<br /><br />警方查出，「來來哥」本名張信安（36歲），目前是竹聯幫地堂雙和分會副分會長，因涉暴力討債被列為治平對象掃蕩到案，同案另有9人被捕，現由警方偵訊中。<br /><br />------<br /><br />幹 他長那樣我還以為他起碼45歲起跳<br />我才小他沒幾歲出門還常常會被以為是大學生</blockquote><font color="#707070">回應有4篇被省略。要閱讀所有回應請按下返信連結。</font><br>
                <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                    <input type=checkbox name="7649926" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                        <font color=#117743><b>無名</b></font> 16/04/07(四)16:51:16 ID:x1Lg4FM6 No.7649926 <a class=del href="javascript:void(0);" onclick="del(7649926);return(false);">del</a> &nbsp;
                        <br>檔名：<a href="http://homu.komica.org/00/src/1460019076169.png" target=_blank>1460019076169.png</a>-(21061 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460019076169.png" target=_blank><img src=http://homu.komica.org/00/thumb/1460019076169s.jpg border=0 align=left width=125 height=109 hspace=20 alt="21061 B"></a><blockquote>真可憐www</blockquote></td></tr></table>
                <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                    <input type=checkbox name="7649928" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                        <font color=#117743><b>無名</b></font> 16/04/07(四)16:51:27 ID:iojou6T2 No.7649928 <a class=del href="javascript:void(0);" onclick="del(7649928);return(false);">del</a> &nbsp;
                    <blockquote>毒品跟現金2選1</blockquote></td></tr></table>
                <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                    <input type=checkbox name="7649944" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                        <font color=#117743><b>無名</b></font> 16/04/07(四)16:54:17 ID:QhzhI3n2 No.7649944 <a class=del href="javascript:void(0);" onclick="del(7649944);return(false);">del</a> &nbsp;
                    <blockquote>看成「力挺學運來來哥 涉組織犯罪被逮」<br />還以為來來哥何時挺學運</blockquote></td></tr></table>
                <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                    <input type=checkbox name="7650027" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                        <font color=#117743><b>無名</b></font> 16/04/07(四)17:01:16 ID:mYfVFS9k No.7650027 <a class=del href="javascript:void(0);" onclick="del(7650027);return(false);">del</a> &nbsp;
                        <br>檔名：<a href="http://homu.komica.org/00/src/1460019676989.png" target=_blank>1460019676989.png</a>-(373030 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460019676989.png" target=_blank><img src=http://homu.komica.org/00/thumb/1460019676989s.jpg border=0 align=left width=125 height=71 hspace=20 alt="373030 B"></a><blockquote>反服貿真的錯了嗎?</blockquote></td></tr></table>
                <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                    <input type=checkbox name="7650060" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                        <font color=#117743><b>無名</b></font> 16/04/07(四)17:05:19 ID:Dt78pbH6 No.7650060 <a class=del href="javascript:void(0);" onclick="del(7650060);return(false);">del</a> &nbsp;
                    <blockquote>反服貿 X<br />反國民黨~反中 O<br /><br />服貿只是口號</blockquote></td></tr></table>
                <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                    <input type=checkbox name="7650072" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                        <font color=#117743><b>無名</b></font> 16/04/07(四)17:09:39 ID:YVewijQM No.7650072 <a class=del href="javascript:void(0);" onclick="del(7650072);return(false);">del</a> &nbsp;
                    <blockquote>來來來<br />哩來哩來</blockquote></td></tr></table>
                <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                    <input type=checkbox name="7650074" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                        <font color=#117743><b>無名</b></font> 16/04/07(四)17:10:23 ID:RBgL7SBo No.7650074 <a class=del href="javascript:void(0);" onclick="del(7650074);return(false);">del</a> &nbsp;
                    <blockquote>啊不就帶風向<br />以犯人爲職業的人中間不信就沒有反服貿的www</blockquote></td></tr></table>
                <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                    <input type=checkbox name="7650085" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                        <font color=#117743><b>無名</b></font> 16/04/07(四)17:13:48 ID:ZQwFuPZA No.7650085 <a class=del href="javascript:void(0);" onclick="del(7650085);return(false);">del</a> &nbsp;
                    <blockquote>就跟去犯人家裡翻宅物說宅宅會犯罪一樣<br />怎麼不說犯人家裡有米所以吃米的都會犯罪<br />硬要帶風向</blockquote></td></tr></table>
                <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                    <input type=checkbox name="7650102" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                        <font color=#117743><b>無名</b></font> 16/04/07(四)17:19:06 ID:vuGZV48Y No.7650102 <a class=del href="javascript:void(0);" onclick="del(7650102);return(false);">del</a> &nbsp;
                    <blockquote>無腦挺服貿的垃圾人渣不意外</blockquote></td></tr></table>
                <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                    <input type=checkbox name="7650228" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                        <font color=#117743><b>無名</b></font> 16/04/07(四)17:56:38 ID:jAWn82Qw No.7650228 <a class=del href="javascript:void(0);" onclick="del(7650228);return(false);">del</a> &nbsp;
                    <blockquote>沒有在工作的人管你服貿在幹嘛</blockquote></td></tr></table>
                <div class=spacer></div></div><br clear=left><hr>
                檔名：<a href="http://homu.komica.org/00/src/1460020754069.jpg" target=_blank>1460020754069.jpg</a>-(193141 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460020754069.jpg" target=_blank><img src=http://homu.komica.org/00/thumb/1460020754069s.jpg border=0 align=left width=171 height=250 hspace=20 alt="193141 B"></a><input type=checkbox name="7650103" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                    <font color=#117743><b>無名</b></font> 16/04/07(四)17:19:14 ID:takuVgXQ No.7650103 <a class=del href="javascript:void(0);" onclick="del(7650103);return(false);">del</a> &nbsp;
                    [<a href=index.php?res=7650103>返信</a>]<br>
                    <blockquote>本週最勵志<br />很可能也是本年最勵志<br />打死不退</blockquote><table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                        <input type=checkbox name="7650227" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                            <font color=#117743><b>無名</b></font> 16/04/07(四)17:56:13 ID:37/KWhMg No.7650227 <a class=del href="javascript:void(0);" onclick="del(7650227);return(false);">del</a> &nbsp;
                        <blockquote>果果什麼時候要跟進惠海醬？<br />我準備衛生紙等著</blockquote></td></tr></table>
                    <div class=spacer></div></div><br clear=left><hr>
                    檔名：<a href="http://homu.komica.org/00/src/1460012279645.jpg" target=_blank>1460012279645.jpg</a>-(459750 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460012279645.jpg" target=_blank><img src=http://homu.komica.org/00/thumb/1460012279645s.jpg border=0 align=left width=250 height=212 hspace=20 alt="459750 B"></a><input type=checkbox name="7649580" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                        <font color=#117743><b>無名</b></font> 16/04/07(四)14:57:59 ID:X4U0yFBc No.7649580 <a class=del href="javascript:void(0);" onclick="del(7649580);return(false);">del</a> &nbsp;
                        [<a href=index.php?res=7649580>返信</a>]<br>
                        <blockquote>nMl/ynIE粗乃丸！！！<br />粗乃抓歹徒！！</blockquote><table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                            <input type=checkbox name="7649585" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                <font color=#117743><b>無名</b></font> 16/04/07(四)15:00:20 ID:FFzB83sY No.7649585 <a class=del href="javascript:void(0);" onclick="del(7649585);return(false);">del</a> &nbsp;
                                <br>檔名：<a href="http://homu.komica.org/00/src/1460012420818.png" target=_blank>1460012420818.png</a>-(453077 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460012420818.png" target=_blank><img src=http://homu.komica.org/00/thumb/1460012420818s.jpg border=0 align=left width=125 height=90 hspace=20 alt="453077 B"></a><blockquote>我今天唉滴有FFㄛ</blockquote></td></tr></table>
                        <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                            <input type=checkbox name="7649598" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                <font color=#117743><b>無名</b></font> 16/04/07(四)15:04:36 ID:k.yHmQrA No.7649598 <a class=del href="javascript:void(0);" onclick="del(7649598);return(false);">del</a> &nbsp;
                                <br>檔名：<a href="http://homu.komica.org/00/src/1460012676652.png" target=_blank>1460012676652.png</a>-(137880 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460012676652.png" target=_blank><img src=http://homu.komica.org/00/thumb/1460012676652s.jpg border=0 align=left width=125 height=74 hspace=20 alt="137880 B"></a><blockquote>【超時空北波】<br />http://youtu.be/1ZbakKgkdns <br />神童髒液蠔~♫<br />在吵嘈的綜合中尋覓~♫<br />他趴帶的腦筋轉呀轉~♫<br />在那陌生的網頁裡~♫<br /><br />尋找破案的證據~♫<br />和2007年京華城的肉餅~♫<br /><br />粗乃丸~♫粗乃丸~♫<br />染紅了大地~♫<br />刀底~♫哩洗咧啾蝦咪~♫</blockquote></td></tr></table>
                        <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                            <input type=checkbox name="7649609" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                <font color=#117743><b>無名</b></font> 16/04/07(四)15:06:54 ID:FFzB83sY No.7649609 <a class=del href="javascript:void(0);" onclick="del(7649609);return(false);">del</a> &nbsp;
                                <br>檔名：<a href="http://homu.komica.org/00/src/1460012814780.jpg" target=_blank>1460012814780.jpg</a>-(48185 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460012814780.jpg" target=_blank><img src=http://homu.komica.org/00/thumb/1460012814780s.jpg border=0 align=left width=125 height=90 hspace=20 alt="48185 B"></a><blockquote>刀底~♫哩洗咧啾蝦咪~♫</blockquote></td></tr></table>
                        <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                            <input type=checkbox name="7649642" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                <font color=#117743><b>無名</b></font> 16/04/07(四)15:12:45 ID:FFzB83sY No.7649642 <a class=del href="javascript:void(0);" onclick="del(7649642);return(false);">del</a> &nbsp;
                                <br>檔名：<a href="http://homu.komica.org/00/src/1460013165114.png" target=_blank>1460013165114.png</a>-(327254 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460013165114.png" target=_blank><img src=http://homu.komica.org/00/thumb/1460013165114s.jpg border=0 align=left width=125 height=84 hspace=20 alt="327254 B"></a><blockquote>【超時空北波】<br />http://youtu.be/1ZbakKgkdns <br />神童髒液蠔~♫<br />在吵嘈的綜合中尋覓~♫<br />他趴帶的腦筋轉呀轉~♫<br />在那陌生的網頁裡~♫<br /><br />尋找破案的證據~♫<br />和2007年京華城的肉餅~♫<br /><br />粗乃丸~♫粗乃丸~♫<br />染紅了大地~♫<br />刀底~♫哩洗咧啾蝦咪~♫</blockquote></td></tr></table>
                        <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                            <input type=checkbox name="7649651" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                <font color=#117743><b>無名</b></font> 16/04/07(四)15:14:26 ID:X4U0yFBc No.7649651 <a class=del href="javascript:void(0);" onclick="del(7649651);return(false);">del</a> &nbsp;
                                <br>檔名：<a href="http://homu.komica.org/00/src/1460013266342.jpg" target=_blank>1460013266342.jpg</a>-(687459 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460013266342.jpg" target=_blank><img src=http://homu.komica.org/00/thumb/1460013266342s.jpg border=0 align=left width=125 height=124 hspace=20 alt="687459 B"></a><blockquote>粗乃殺暴怒廚！</blockquote></td></tr></table>
                        <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                            <input type=checkbox name="7649767" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                <font color=#117743><b>無名</b></font> 16/04/07(四)15:54:19 ID:tUqzeIXE No.7649767 <a class=del href="javascript:void(0);" onclick="del(7649767);return(false);">del</a> &nbsp;
                            <blockquote>根本沒有這個id，一群低能張益豪在自嗨</blockquote></td></tr></table>
                        <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                            <input type=checkbox name="7649773" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                <font color=#117743><b>無名</b></font> 16/04/07(四)15:58:08 ID:FFzB83sY No.7649773 <a class=del href="javascript:void(0);" onclick="del(7649773);return(false);">del</a> &nbsp;
                                <br>檔名：<a href="http://homu.komica.org/00/src/1460015888664.png" target=_blank>1460015888664.png</a>-(47309 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460015888664.png" target=_blank><img src=http://homu.komica.org/00/thumb/1460015888664s.jpg border=0 align=left width=125 height=93 hspace=20 alt="47309 B"></a><blockquote><font color=789922>&gt;7649767</font><br />當然每有啊<br />因為那是昨天的唉滴啊wwww</blockquote></td></tr></table>
                        <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                            <input type=checkbox name="7650200" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                <font color=#117743><b>無名</b></font> 16/04/07(四)17:48:48 ID:hKVFIJ1Y No.7650200 <a class=del href="javascript:void(0);" onclick="del(7650200);return(false);">del</a> &nbsp;
                                <br>檔名：<a href="http://homu.komica.org/00/src/1460022528671.jpg" target=_blank>1460022528671.jpg</a>-(178395 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460022528671.jpg" target=_blank><img src=http://homu.komica.org/00/thumb/1460022528671s.jpg border=0 align=left width=125 height=125 hspace=20 alt="178395 B"></a><blockquote>不告訴你！</blockquote></td></tr></table>
                        <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                            <input type=checkbox name="7650206" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                <font color=#117743><b>無名</b></font> 16/04/07(四)17:50:16 ID:F6tV6dvM No.7650206 <a class=del href="javascript:void(0);" onclick="del(7650206);return(false);">del</a> &nbsp;
                                <br>檔名：<a href="http://homu.komica.org/00/src/1460022616301.jpg" target=_blank>1460022616301.jpg</a>-(20327 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460022616301.jpg" target=_blank><img src=http://homu.komica.org/00/thumb/1460022616301s.jpg border=0 align=left width=114 height=125 hspace=20 alt="20327 B"></a><blockquote>【超時空北波】<br />http://youtu.be/1ZbakKgkdns <br />神童髒液蠔~♫<br />在吵嘈的綜合中尋覓~♫<br />他趴帶的腦筋轉呀轉~♫<br />在那陌生的網頁裡~♫<br /><br />尋找破案的證據~♫<br />和2007年京華城的肉餅~♫<br /><br />粗乃丸~♫粗乃丸~♫<br />染紅了大地~♫<br />刀底~♫哩洗咧啾蝦咪~♫</blockquote></td></tr></table>
                        <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                            <input type=checkbox name="7650226" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                <font color=#117743><b>無名</b></font> 16/04/07(四)17:55:55 ID:F6tV6dvM No.7650226 <a class=del href="javascript:void(0);" onclick="del(7650226);return(false);">del</a> &nbsp;
                                <br>檔名：<a href="http://homu.komica.org/00/src/1460022955902.jpg" target=_blank>1460022955902.jpg</a>-(29421 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460022955902.jpg" target=_blank><img src=http://homu.komica.org/00/thumb/1460022955902s.jpg border=0 align=left width=125 height=111 hspace=20 alt="29421 B"></a><blockquote>剛剛發現北波的粉絲專頁不見了wwwwwwwwwww<br />夕鶴ㄛwwww <br />UCCU</blockquote></td></tr></table>
                        <div class=spacer></div></div><br clear=left><hr>
                        <div style="float:right; padding-left:10px; padding-bottom:10px;">
                            <br><table border="0" cellspacing="0" cellpadding="0">
                                <tr><td>
                                    <script type="text/javascript" src="http://sage.komica.org/js/komica_cover.js"></script>
                                    </table>
                        </div>
                        檔名：<a href="http://homu.komica.org/00/src/1460020428788.jpg" target=_blank>1460020428788.jpg</a>-(37455 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460020428788.jpg" target=_blank><img src=http://homu.komica.org/00/thumb/1460020428788s.jpg border=0 align=left width=251 height=141 hspace=20 alt="37455 B"></a><input type=checkbox name="7650084" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                            <font color=#117743><b>無名</b></font> 16/04/07(四)17:13:48 ID:QuHSHpYQ No.7650084 <a class=del href="javascript:void(0);" onclick="del(7650084);return(false);">del</a> &nbsp;
                            [<a href=index.php?res=7650084>返信</a>]<br>
                            <blockquote>https://www.facebook.com/100011079362766/videos/203281790051132/<br /><br />這遊戲也太虐</blockquote><table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                <input type=checkbox name="7650093" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                    <font color=#117743><b>無名</b></font> 16/04/07(四)17:15:56 ID:ZQwFuPZA No.7650093 <a class=del href="javascript:void(0);" onclick="del(7650093);return(false);">del</a> &nbsp;
                                <blockquote>音樂怎麼這麼嗨</blockquote></td></tr></table>
                            <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                <input type=checkbox name="7650101" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                    <font color=#117743><b>無名</b></font> 16/04/07(四)17:18:44 ID:ZQwFuPZA No.7650101 <a class=del href="javascript:void(0);" onclick="del(7650101);return(false);">del</a> &nbsp;
                                <blockquote>音速小子</blockquote></td></tr></table>
                            <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                <input type=checkbox name="7650120" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                    <font color=#117743><b>無名</b></font> 16/04/07(四)17:25:53 ID:gbc7W4yU No.7650120 <a class=del href="javascript:void(0);" onclick="del(7650120);return(false);">del</a> &nbsp;
                                    <br>檔名：<a href="http://homu.komica.org/00/src/1460021153108.jpg" target=_blank>1460021153108.jpg</a>-(76778 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460021153108.jpg" target=_blank><img src=http://homu.komica.org/00/thumb/1460021153108s.jpg border=0 align=left width=125 height=76 hspace=20 alt="76778 B"></a><blockquote>這什麼雖毛的爛故事</blockquote></td></tr></table>
                            <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                <input type=checkbox name="7650124" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                    <font color=#117743><b>無名</b></font> 16/04/07(四)17:27:11 ID:bCVMRSC. No.7650124 <a class=del href="javascript:void(0);" onclick="del(7650124);return(false);">del</a> &nbsp;
                                <blockquote>這遊戲若出在steam上會有一堆無事可做的廚宅買單</blockquote></td></tr></table>
                            <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                <input type=checkbox name="7650220" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                    <font color=#117743><b>無名</b></font> 16/04/07(四)17:55:17 ID:e901uXI. No.7650220 <a class=del href="javascript:void(0);" onclick="del(7650220);return(false);">del</a> &nbsp;
                                <blockquote>https://www.youtube.com/watch?v=lIES3ii-IOg<br /><br />已經超過時間了</blockquote></td></tr></table>
                            <div class=spacer></div></div><br clear=left><hr>
                            檔名：<a href="http://homu.komica.org/00/src/1460018967859.png" target=_blank>1460018967859.png</a>-(896296 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460018967859.png" target=_blank><img src=http://homu.komica.org/00/thumb/1460018967859s.jpg border=0 align=left width=142 height=250 hspace=20 alt="896296 B"></a><input type=checkbox name="7649919" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                <font color=#117743><b>無名</b></font> 16/04/07(四)16:49:27 ID:VC2JEOws No.7649919 <a class=del href="javascript:void(0);" onclick="del(7649919);return(false);">del</a> &nbsp;
                                [<a href=index.php?res=7649919>返信</a>]<br>
                                <blockquote>劣等商品</blockquote><table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                    <input type=checkbox name="7649923" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                        <font color=#117743><b>無名</b></font> 16/04/07(四)16:50:19 ID:VC2JEOws No.7649923 <a class=del href="javascript:void(0);" onclick="del(7649923);return(false);">del</a> &nbsp;
                                        <br>檔名：<a href="http://homu.komica.org/00/src/1460019019253.png" target=_blank>1460019019253.png</a>-(455614 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460019019253.png" target=_blank><img src=http://homu.komica.org/00/thumb/1460019019253s.jpg border=0 align=left width=93 height=125 hspace=20 alt="455614 B"></a><blockquote>預備商品</blockquote></td></tr></table>
                                <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                    <input type=checkbox name="7649932" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                        <font color=#117743><b>無名</b></font> 16/04/07(四)16:51:58 ID:VC2JEOws No.7649932 <a class=del href="javascript:void(0);" onclick="del(7649932);return(false);">del</a> &nbsp;
                                    <blockquote>劣等商品被利用陷害預備商品<br />還補刀玩弄預備商品<br />結果一樣利用完被黑人抓走<br /><br />最後兩人在會場被斬首<br />HAPPY END</blockquote></td></tr></table>
                                <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                    <input type=checkbox name="7650063" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                        <font color=#117743><b>無名</b></font> 16/04/07(四)17:06:00 ID:VC2JEOws No.7650063 <a class=del href="javascript:void(0);" onclick="del(7650063);return(false);">del</a> &nbsp;
                                    <blockquote>= =</blockquote></td></tr></table>
                                <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                    <input type=checkbox name="7650218" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                        <font color=#117743><b>無名</b></font> 16/04/07(四)17:54:26 ID:VC2JEOws No.7650218 <a class=del href="javascript:void(0);" onclick="del(7650218);return(false);">del</a> &nbsp;
                                    <blockquote>= =</blockquote></td></tr></table>
                                <div class=spacer></div></div><br clear=left><hr>
                                檔名：<a href="http://homu.komica.org/00/src/1460017777939.jpg" target=_blank>1460017777939.jpg</a>-(1100440 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460017777939.jpg" target=_blank><img src=http://homu.komica.org/00/thumb/1460017777939s.jpg border=0 align=left width=177 height=250 hspace=20 alt="1100440 B"></a><input type=checkbox name="7649859" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                    <font color=#117743><b>無名</b></font> 16/04/07(四)16:29:37 ID:GZQY5too No.7649859 <a class=del href="javascript:void(0);" onclick="del(7649859);return(false);">del</a> &nbsp;
                                    [<a href=index.php?res=7649859>返信</a>]<br>
                                    <blockquote>沒梗畫不下去QQQ<br />不過老師真的滿可愛的<br /><br />練練雙人圖 求人物<br />+2+5二次原角色ㄛ~</blockquote><font color="#707070">回應有10篇被省略。要閱讀所有回應請按下返信連結。</font><br>
                                    <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                        <input type=checkbox name="7649906" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                            <font color=#117743><b>無名</b></font> 16/04/07(四)16:47:44 ID:tiI.ixbg No.7649906 <a class=del href="javascript:void(0);" onclick="del(7649906);return(false);">del</a> &nbsp;
                                        <blockquote>白梅好可愛喔&gt;///&lt;</blockquote></td></tr></table>
                                    <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                        <input type=checkbox name="7650169" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                            <font color=#117743><b>無名</b></font> 16/04/07(四)17:38:16 ID:GZQY5too No.7650169 <a class=del href="javascript:void(0);" onclick="del(7650169);return(false);">del</a> &nbsp;
                                            <br>檔名：<a href="http://homu.komica.org/00/src/1460021896190.jpg" target=_blank>1460021896190.jpg</a>-(281440 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460021896190.jpg" target=_blank><img src=http://homu.komica.org/00/thumb/1460021896190s.jpg border=0 align=left width=125 height=114 hspace=20 alt="281440 B"></a><blockquote>不想畫光美版 心跳的頭髮太麻煩了<br />也不想畫衣服 好懶<br />所以變成泳衣版本ww<br /><br /><font color=789922>&gt;&gt;7649867</font><br />不是上車圖安價拉= =<br /><font color=789922>&gt;&gt;7649869</font><br />不忍心拆散六花x小愛<br />nano death等等再來安價一個人配<br /><font color=789922>&gt;&gt;7649870</font><br /><font color=789922>&gt;&gt;7649871</font><br />看晚上有沒有空吧<br /><font color=789922>&gt;&gt;7649872</font><br />一次一個拉= = 雖然我還是畫了<br /><font color=789922>&gt;&gt;7649879</font><br />(´◓Д◔`)<br /><font color=789922>&gt;&gt;7649880</font><br /><font color=789922>&gt;&gt;7649892</font><br />誰阿<br /><font color=789922>&gt;&gt;7649897</font><br />菜逼巴認不出來 感覺像遊戲圖<br /><font color=789922>&gt;&gt;7649901</font><br />是ㄛ<br /><font color=789922>&gt;&gt;7649906</font><br />背刺廚你好</blockquote></td></tr></table>
                                    <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                        <input type=checkbox name="7650187" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                            <font color=#117743><b>無名</b></font> 16/04/07(四)17:44:46 ID:2D/1g.D2 No.7650187 <a class=del href="javascript:void(0);" onclick="del(7650187);return(false);">del</a> &nbsp;
                                        <blockquote><font color=789922>&gt;&gt;No.7650169</font><br /><br />7649897是戰地風雲ㄛ<br />雖然我忘記是哪一代惹</blockquote></td></tr></table>
                                    <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                        <input type=checkbox name="7650202" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                            <font color=#117743><b>無名</b></font> 16/04/07(四)17:49:25 ID:NPsHFysk No.7650202 <a class=del href="javascript:void(0);" onclick="del(7650202);return(false);">del</a> &nbsp;
                                        <blockquote>battlefiled 4<br />因為歡樂惡搞中國解放軍 所以被和諧</blockquote></td></tr></table>
                                    <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                        <input type=checkbox name="7650205" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                            <font color=#117743><b>無名</b></font> 16/04/07(四)17:49:58 ID:4wyBLZQA No.7650205 <a class=del href="javascript:void(0);" onclick="del(7650205);return(false);">del</a> &nbsp;
                                            <br>檔名：<a href="http://homu.komica.org/00/src/1460022598058.jpg" target=_blank>1460022598058.jpg</a>-(289406 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460022598058.jpg" target=_blank><img src=http://homu.komica.org/00/thumb/1460022598058s.jpg border=0 align=left width=125 height=90 hspace=20 alt="289406 B"></a><blockquote>看到小愛跟六花在一起已經是我這肥宅剩下不多的幸福之一了..謝謝(´；ω；｀)</blockquote></td></tr></table>
                                    <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                        <input type=checkbox name="7650211" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                            <font color=#117743><b>無名</b></font> 16/04/07(四)17:52:41 ID:SUD4ON.E No.7650211 <a class=del href="javascript:void(0);" onclick="del(7650211);return(false);">del</a> &nbsp;
                                            <br>檔名：<a href="http://homu.komica.org/00/src/1460022761656.jpg" target=_blank>1460022761656.jpg</a>-(183559 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460022761656.jpg" target=_blank><img src=http://homu.komica.org/00/thumb/1460022761656s.jpg border=0 align=left width=125 height=77 hspace=20 alt="183559 B"></a><blockquote>射精小天使　好久沒看到惹<br />上次的加賀超棒的ㄛ　穴穴ㄛ</blockquote></td></tr></table>
                                    <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                        <input type=checkbox name="7650212" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                            <font color=#117743><b>無名</b></font> 16/04/07(四)17:52:43 ID:ATBdBOcE No.7650212 <a class=del href="javascript:void(0);" onclick="del(7650212);return(false);">del</a> &nbsp;
                                            <br>檔名：<a href="http://homu.komica.org/00/src/1460022763790.gif" target=_blank>1460022763790.gif</a>-(192558 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460022763790.gif" target=_blank><img src=http://homu.komica.org/00/thumb/1460022763790s.jpg border=0 align=left width=125 height=125 hspace=20 alt="192558 B"></a><blockquote><font color=789922>&gt;這畫風是射精小天使嗎</font><br />看鼻子</blockquote></td></tr></table>
                                    <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                        <input type=checkbox name="7650216" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                                            <font color=#117743><b>無名</b></font> 16/04/07(四)17:52:58 ID:GZQY5too No.7650216 <a class=del href="javascript:void(0);" onclick="del(7650216);return(false);">del</a> &nbsp; 
                                            <br>檔名：<a href="http://homu.komica.org/00/src/1460022778583.png" target=_blank>1460022778583.png</a>-(266322 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460022778583.png" target=_blank><img src=http://homu.komica.org/00/thumb/1460022778583s.jpg border=0 align=left width=125 height=125 hspace=20 alt="266322 B"></a><blockquote><font color=789922>&gt;&gt;7650187</font><br /><font color=789922>&gt;&gt;7650202</font><br />真優秀www<br />不過肥宅打娘胎沒玩過FPS<br />最接近的頂多秘境猴王…<br /><br /><font color=789922>&gt;&gt;7650205</font><br />不…不要亂立flag拉(´；ω；｀)<br /><br /><br />啊幹忘記幫NANO DEATH安價搭檔<br />只好露出胸部道歉<br />+2二次元角色</blockquote></td></tr></table>
                                    <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                        <input type=checkbox name="7650223" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
                                            <font color=#117743><b>無名</b></font> 16/04/07(四)17:55:23 ID:cu8U.gz2 No.7650223 <a class=del href="javascript:void(0);" onclick="del(7650223);return(false);">del</a> &nbsp; 
                                            <br>檔名：<a href="http://homu.komica.org/00/src/1460022923419.jpg" target=_blank>1460022923419.jpg</a>-(989586 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460022923419.jpg" target=_blank><img src=http://homu.komica.org/00/thumb/1460022923419s.jpg border=0 align=left width=81 height=126 hspace=20 alt="989586 B"></a><blockquote>無本文</blockquote></td></tr></table>
                                    <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                        <input type=checkbox name="7650234" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
                                            <font color=#117743><b>無名</b></font> 16/04/07(四)17:57:56 ID:F6tV6dvM No.7650234 <a class=del href="javascript:void(0);" onclick="del(7650234);return(false);">del</a> &nbsp; 
                                        <blockquote>有田春雪</blockquote></td></tr></table>
                                    <div class=spacer></div></div><br clear=left><hr>
                                    檔名：<a href="http://homu.komica.org/00/src/1460022771928.jpg" target=_blank>1460022771928.jpg</a>-(25781 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460022771928.jpg" target=_blank><img src=http://homu.komica.org/00/thumb/1460022771928s.jpg border=0 align=left width=250 height=167 hspace=20 alt="25781 B"></a><input type=checkbox name="7650215" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
                                        <font color=#117743><b>無名</b></font> 16/04/07(四)17:52:51 ID:A.Ly.Xz. No.7650215 <a class=del href="javascript:void(0);" onclick="del(7650215);return(false);">del</a> &nbsp; 
                                        [<a href=index.php?res=7650215>返信</a>]<br>
                                        <blockquote>原來鄭捷爸媽長這樣</blockquote><div class=spacer></div></div><br clear=left><hr>
                                        檔名：<a href="http://homu.komica.org/00/src/1460022587407.gif" target=_blank>1460022587407.gif</a>-(1024469 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460022587407.gif" target=_blank><img src=http://homu.komica.org/00/thumb/1460022587407s.jpg border=0 align=left width=236 height=250 hspace=20 alt="1024469 B"></a><input type=checkbox name="7650204" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
                                            <font color=#117743><b>無名</b></font> 16/04/07(四)17:49:47 ID:Y0SFgvQo No.7650204 <a class=del href="javascript:void(0);" onclick="del(7650204);return(false);">del</a> &nbsp; 
                                            [<a href=index.php?res=7650204>返信</a>]<br>
                                            <blockquote>把手舉起來</blockquote><table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
                                                <input type=checkbox name="7650208" value=delete><font color=#cc1105 size=+1><b>無題</b></font> 
                                                    <font color=#117743><b>無名</b></font> 16/04/07(四)17:51:35 ID:KnRJxDXM No.7650208 <a class=del href="javascript:void(0);" onclick="del(7650208);return(false);">del</a> &nbsp; 
                                                <blockquote>你想舔我腋下對吧</blockquote></td></tr></table>
                                            <div class=spacer></div></div><br clear=left><hr>
                                        <table align=right><tr><td nowrap align=center><input type=hidden name=mode value=usrdel>【刪除文章】[<input type=checkbox name=onlyimgdel value=on>僅刪除附加圖檔]<br>刪除密碼 <input type=password name=pwd size=8 maxlength=8 value=""><input type=submit value="刪除"></form></td></tr></table><table align=left border=1><tr><form action="index.htm" method=get><td><input type=submit value="前一頁"></td></form><td>[<a href="index.htm">0</a>] [<b>1</b>] [<a href="2.htm">2</a>] [<a href="3.htm">3</a>] [<a href="4.htm">4</a>] [<a href="5.htm">5</a>] [<a href="6.htm">6</a>] [<a href="7.htm">7</a>] [<a href="8.htm">8</a>] [<a href="9.htm">9</a>] [以下省略]</td><form action="2.htm" method=get><td><input type=submit value="下一頁"></td></form></tr></table><br clear=all>
    <center>
        <script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
        <script type="text/javascript">
            _uacct = "UA-114117-2";
            urchinTracker();
            </script>
        <center>
            <br clear=all>
            <table border="0" cellspacing="0" cellpadding="1">
                <tr><td><script type="text/javascript" src="http://sage.komica.org/js/komica_leader.js"></script></table>
            <br clear=all>
            <small>
                - <a href="http://php.s3.to" target=_top>GazouBBS</a> + <a href="http://www.2chan.net/" target=_top>futaba</a> + <a href="http://siokara.que.jp/" target=_top>siokara</a> -<br>All trademarks and copyrights on this page are owned by their respective owners.<br>Images uploaded are the responsibility of the Poster. Comments are owned by the Poster.
            </small>
            <p>
            <table><tr><td>
                <script type="text/javascript" id="tc_ft9dwfgx">
                    var _tcq = _tcq || []; _tcq.push(["blog", "ft9dwfgx"]); 
                    (function() { var e = document.createElement("script"); e.type = "text/javascript"; e.async = true; e.src = "http://widgets.tcimg.com/v2/blog.js"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(e, s); })();
                    </script>
                <td>
                    <script type="text/javascript" id="tc_09c721be63">
                        //var _tcq = _tcq || []; _tcq.push(["blog", "09c721be63"]); 
                        //(function() { var e = document.createElement("script"); e.type = "text/javascript"; e.async = true; e.src = "http://s.tcimg.com/w/v2/blog.js"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(e, s); })();
                        </script>
                    </table>
        </center>
</body>
</html>

