

<head>
    <META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=utf-8">
        <META HTTP-EQUIV="pragma" CONTENT="no-cache">
            <META HTTP-EQUIV="last-modified" CONTENT="Thu, 1 Jan 1970 00:00:00 GMT">
                <META HTTP-EQUIV="expires" CONTENT="Thu, 1 Jan 1970 00:00:00 GMT">
                    <META NAME="viewport" CONTENT="width=device-width, initial-scale=1">
                        <STYLE TYPE="text/css">
                            <!--
                            body,tr,td,th { font-size:12pt }
                            a:hover { color:#DD0000; }
                            a.del { color:#800000; }
                            span { font-size:20pt }
                            small { font-size:10pt }
                            .hide { display: none; }
                            .spacer { clear: both; }
                            .divcss5 {border:0px solid #000; width:90px; height:90px}
                            .divcss5 img {height:90px; width:90px}
                            .divcss5 embed {height:90px; width:90px}
                            -->
                            </STYLE>
                        <title>綜合</title>
                        <script language="JavaScript"><!--
                            //function l(e){var P=getCookie("pwdc"),N=getCookie("namec"),i;with(document){for(i=0;i<forms.length;i++){if(forms[i].pwd)with(forms[i]){pwd.value=P;}if(forms[i].name)with(forms[i]){name.value=N;}}}};onload=l;function getCookie(key, tmp1, tmp2, xx1, xx2, xx3) {tmp1 = " " + document.cookie + ";";xx1 = xx2 = 0;len = tmp1.length;	while (xx1 < len) {xx2 = tmp1.indexOf(";", xx1);tmp2 = tmp1.substring(xx1 + 1, xx2);xx3 = tmp2.indexOf("=");if (tmp2.substring(0, xx3) == key) {return(decodeURL(tmp2.substring(xx3 + 1, xx2 - xx1 - 1)));}xx1 = xx2 + 1;}return("");}
                            function decodeURL(str){var s0="",i,j,s,ss,u,n,f,sss;for(i=0;i<str.length;i++){s=str.charAt(i);if(s=="+"){s0+=" ";}else{if(s!="%"){s0+=s;}else{u=0;f=1;while(true){ss="";for(j=0;j<2;j++){sss=str.charAt(++i);if(((sss>="0")&&(sss<="9"))||((sss>="a")&&(sss<="f"))||((sss>="A")&&(sss<="F"))){ss+=sss;}else{--i;break;}}n=parseInt(ss,16);if(n<=0x7f){u=n;f=1;}if((n>=0xc0)&&(n<=0xdf)){u=n&0x1f;f=2;}if((n>=0xe0)&&(n<=0xef)){u=n&0x0f;f=3;}if((n>=0xf0)&&(n<=0xf7)){u=n&0x07;f=4;}if((n>=0x80)&&(n<=0xbf)){u=(u<<6)+(n&0x3f);--f;}if(f<=1){break;}if(str.charAt(i+1)=="%"){i++;}else{break;}}s0+=String.fromCharCode(u);}}}return s0;}
                            function del(d){self.location.href="./del.php?b="+00+"&d="+d;};
                            //--></script>
                        <!--script type="text/javascript" src="http://k0.dreamhosters.com/get_ip.php"></xscript>
                         <xscript>
                         document.cookie = "ipx2=" + myip;
                         </xscript-->
                        <script src="http://www.google.com/recaptcha/api.js"></script>
</head>
<body bgcolor="#FFFFEE" text="#800000" link="#0000EE" vlink="#0000EE">
    <p align=right>
    [<a href="http://komica.org/" target="_top">首頁</a>]
    [<a href="http://homu.komica.org/00/m/" target="_self">行動版</a>]
    [<a href="http://archive.komica.org/00/index.php?mode=list">檔案區</a>]
    [<a href="index.php?mode=admin">管理用</a>]
    <p align=center>
    <font color="#800000" size=5>
        <b><SPAN>綜合</SPAN></b></font>
    <hr width="90%" size=1>
    <p>
    <center>
        <table border="0" cellspacing="0" cellpadding="1">
            <tr align=center>
                <td>
                    <script type="text/javascript" src="http://sage.komica.org/js/komica_leader.js"></script>
                    </table>
    </center>
    <p>
    [<a href="index.htm">回到版面</a>]
    <table width='100%'>
        <tr>
            <th bgcolor=#e04000>
                <font color=#FFFFFF>回應模式</font>
            </th>
        </tr>
    </table>
    <script type="text/javascript">ReDirUrl = "http://homu.komica.org/00/m/index.php?res=7649859"</script>
    <script type="text/javascript" src="http://homu.komica.org/00/MobileRedirection.js"></script>
    <center>
        <div style="float:right; padding-left:10px; padding-bottom:10px;">
            <br>
            <table border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>
                        <script type="text/javascript" src="http://homu.komica.org/js/myacg_00.js"></script>
                        </table>
        </div>
        <form action="index.php" method="POST" enctype="multipart/form-data">
            <input type=hidden name=mode value="regist"><input type=hidden name="MAX_FILE_SIZE" value="3145728"><input type=hidden name=resto value="7649859">
                <table border=0 cellpadding=1 cellspacing=1>
                    <tr class="hide">
                        <td bgcolor=#eeaa88><b>名　　稱</b></td>
                        <td><input type=hidden name=name size="28"></td>
                    </tr>
                    <tr>
                        <td bgcolor=#eeaa88><b>E-mail</b></td>
                        <td><input type=text name=email size="28">&nbsp;<input type=submit value="送　出"></td>
                    </tr>
                    <tr class="hide">
                        <td bgcolor=#eeaa88><b>題　　名</b></td>
                        <td><input type=hidden name=sub size="35"></td>
                    </tr>
                    <tr>
                        <td bgcolor=#eeaa88><b>內　　文</b></td>
                        <td><textarea name=comx5113 cols="48" rows="4" wrap=soft></textarea></td>
                    </tr>
                    <tr>
                        <td bgcolor=#eeaa88><b>附加圖檔</b></td>
                        <td><input type=file name=upfile size="35">&nbsp;[<label><input type=checkbox name=textonly value=on>無貼圖</label>]</td>
                    </tr>
                    <tr>
                        <td bgcolor=#eeaa88><b>刪除密碼</b></td>
                        <td><input type=password name=pwd size=8 maxlength=8 value=""><small>(刪除文章用。英數字8字元以內)</small></td>
                    </tr>
                    <tr>
                        <td bgcolor=#eeaa88><b>畫像認證</b></td>
                        <td align=left height="90">
                            <div class="g-recaptcha" data-sitekey="6LeuBPkSAAAAAJKaNezSYDM3ZL4-jfSJu9cWpp_-"></div>
                            <tr>
                                <td colspan=2>
                                    <small>
                                        <LI>可附加圖檔類型：GIF, JPG, PNG，瀏覽器才能正常附加圖檔。
                                            <LI>圖片寛 250像素、高 250像素以上時自動縮小尺寸顯示。回文可貼圖。
                                                <LI>附加圖檔最大上限 3072 KB。在E-mail欄填入sage時，回應不會有推文效果。
                                                    <li>投稿時請點擊畫像認證後，再按下 [送出] 按鈕提交。
                                                        <li>
                                                            國際、政治類時事新聞話題，請使用<a href="http://homu.komica.org/25/index.htm">新聞</a>板進行。
                                                            </small>
                                </td>
                            </tr>
                            </table>
                </form>
    </center>
    <hr>
    <div style="float:right; padding-left:10px; padding-bottom:10px;">
        <br><table border="0" cellspacing="0" cellpadding="0">
            <tr><td>
                <script type="text/javascript" src="http://sage.komica.org/js/komica_rectangle.js"></script>
                </table>
    </div>
    <!--ad--><form action="index.php" method=POST>檔名：<a href="http://homu.komica.org/00/src/1460017777939.jpg" target=_blank>1460017777939.jpg</a>-(1100440 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460017777939.jpg" target=_blank><img src=http://homu.komica.org/00/thumb/1460017777939s.jpg border=0 align=left width=177 height=250 hspace=20 alt="1100440 B"></a><input type=checkbox name="7649859" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
        <font color=#117743><b>無名</b></font> 16/04/07(四)16:29:37 ID:GZQY5too No.7649859 <a class=del href="javascript:void(0);" onclick="del(7649859);return(false);">del</a> &nbsp;
        <blockquote>沒梗畫不下去QQQ<br />不過老師真的滿可愛的<br /><br />練練雙人圖 求人物<br />+2+5二次原角色ㄛ~</blockquote><table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
            <input type=checkbox name="7649867" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                <font color=#117743><b>無名</b></font> 16/04/07(四)16:32:46 ID:B36H46/g No.7649867 <a class=del href="javascript:void(0);" onclick="del(7649867);return(false);">del</a> &nbsp;
            <blockquote>小穹被幹到說不敢</blockquote></td></tr></table>
        <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
            <input type=checkbox name="7649869" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                <font color=#117743><b>無名</b></font> 16/04/07(四)16:33:24 ID:k.yHmQrA No.7649869 <a class=del href="javascript:void(0);" onclick="del(7649869);return(false);">del</a> &nbsp;
                <br>檔名：<a href="http://homu.komica.org/00/src/1460018004201.jpg" target=_blank>1460018004201.jpg</a>-(68080 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460018004201.jpg" target=_blank><img src=http://homu.komica.org/00/thumb/1460018004201s.jpg border=0 align=left width=125 height=115 hspace=20 alt="68080 B"></a><blockquote>無本文</blockquote></td></tr></table>
        <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
            <input type=checkbox name="7649870" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                <font color=#117743><b>無名</b></font> 16/04/07(四)16:33:36 ID:ET.CHHGo No.7649870 <a class=del href="javascript:void(0);" onclick="del(7649870);return(false);">del</a> &nbsp;
            <blockquote>來個天津風吧</blockquote></td></tr></table>
        <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
            <input type=checkbox name="7649871" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                <font color=#117743><b>無名</b></font> 16/04/07(四)16:33:36 ID:lXXdvBwQ No.7649871 <a class=del href="javascript:void(0);" onclick="del(7649871);return(false);">del</a> &nbsp;
            <blockquote>伊歐</blockquote></td></tr></table>
        <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
            <input type=checkbox name="7649872" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                <font color=#117743><b>無名</b></font> 16/04/07(四)16:34:15 ID:4wyBLZQA No.7649872 <a class=del href="javascript:void(0);" onclick="del(7649872);return(false);">del</a> &nbsp;
                <br>檔名：<a href="http://homu.komica.org/00/src/1460018055151.jpg" target=_blank>1460018055151.jpg</a>-(193654 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460018055151.jpg" target=_blank><img src=http://homu.komica.org/00/thumb/1460018055151s.jpg border=0 align=left width=125 height=71 hspace=20 alt="193654 B"></a><blockquote>光之美少女的六花x小愛</blockquote></td></tr></table>
        <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
            <input type=checkbox name="7649879" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                <font color=#117743><b>無名</b></font> 16/04/07(四)16:36:08 ID:2rO2yt6s No.7649879 <a class=del href="javascript:void(0);" onclick="del(7649879);return(false);">del</a> &nbsp;
                <br>檔名：<a href="http://homu.komica.org/00/src/1460018168149.jpg" target=_blank>1460018168149.jpg</a>-(370848 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460018168149.jpg" target=_blank><img src=http://homu.komica.org/00/thumb/1460018168149s.jpg border=0 align=left width=125 height=123 hspace=20 alt="370848 B"></a><blockquote>百合豚大勝利!</blockquote></td></tr></table>
        <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
            <input type=checkbox name="7649880" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                <font color=#117743><b>無名</b></font> 16/04/07(四)16:36:42 ID:ExJ5ZOlM No.7649880 <a class=del href="javascript:void(0);" onclick="del(7649880);return(false);">del</a> &nbsp;
            <blockquote>所以說 龜龜在哪?</blockquote></td></tr></table>
        <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
            <input type=checkbox name="7649892" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                <font color=#117743><b>無名</b></font> 16/04/07(四)16:42:09 ID:lXXdvBwQ No.7649892 <a class=del href="javascript:void(0);" onclick="del(7649892);return(false);">del</a> &nbsp;
                <br>檔名：<a href="http://homu.komica.org/00/src/1460018529431.png" target=_blank>1460018529431.png</a>-(22237 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460018529431.png" target=_blank><img src=http://homu.komica.org/00/thumb/1460018529431s.jpg border=0 align=left width=125 height=119 hspace=20 alt="22237 B"></a><blockquote>無本文</blockquote></td></tr></table>
        <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
            <input type=checkbox name="7649897" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                <font color=#117743><b>無名</b></font> 16/04/07(四)16:43:44 ID:NPsHFysk No.7649897 <a class=del href="javascript:void(0);" onclick="del(7649897);return(false);">del</a> &nbsp;
                <br>檔名：<a href="http://homu.komica.org/00/src/1460018624749.jpg" target=_blank>1460018624749.jpg</a>-(440290 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460018624749.jpg" target=_blank><img src=http://homu.komica.org/00/thumb/1460018624749s.jpg border=0 align=left width=126 height=71 hspace=20 alt="440290 B"></a><blockquote>無本文</blockquote></td></tr></table>
        <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
            <input type=checkbox name="7649901" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                <font color=#117743><b>無名</b></font> 16/04/07(四)16:45:11 ID:fKGSwYHo No.7649901 <a class=del href="javascript:void(0);" onclick="del(7649901);return(false);">del</a> &nbsp;
            <blockquote>這畫風是射精小天使嗎</blockquote></td></tr></table>
        <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
            <input type=checkbox name="7649906" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                <font color=#117743><b>無名</b></font> 16/04/07(四)16:47:44 ID:tiI.ixbg No.7649906 <a class=del href="javascript:void(0);" onclick="del(7649906);return(false);">del</a> &nbsp;
            <blockquote>白梅好可愛喔&gt;///&lt;</blockquote></td></tr></table>
        <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
            <input type=checkbox name="7650169" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                <font color=#117743><b>無名</b></font> 16/04/07(四)17:38:16 ID:GZQY5too No.7650169 <a class=del href="javascript:void(0);" onclick="del(7650169);return(false);">del</a> &nbsp;
                <br>檔名：<a href="http://homu.komica.org/00/src/1460021896190.jpg" target=_blank>1460021896190.jpg</a>-(281440 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460021896190.jpg" target=_blank><img src=http://homu.komica.org/00/thumb/1460021896190s.jpg border=0 align=left width=125 height=114 hspace=20 alt="281440 B"></a><blockquote>不想畫光美版 心跳的頭髮太麻煩了<br />也不想畫衣服 好懶<br />所以變成泳衣版本ww<br /><br /><font color=789922>&gt;&gt;7649867</font><br />不是上車圖安價拉= =<br /><font color=789922>&gt;&gt;7649869</font><br />不忍心拆散六花x小愛<br />nano death等等再來安價一個人配<br /><font color=789922>&gt;&gt;7649870</font><br /><font color=789922>&gt;&gt;7649871</font><br />看晚上有沒有空吧<br /><font color=789922>&gt;&gt;7649872</font><br />一次一個拉= = 雖然我還是畫了<br /><font color=789922>&gt;&gt;7649879</font><br />(´◓Д◔`)<br /><font color=789922>&gt;&gt;7649880</font><br /><font color=789922>&gt;&gt;7649892</font><br />誰阿<br /><font color=789922>&gt;&gt;7649897</font><br />菜逼巴認不出來 感覺像遊戲圖<br /><font color=789922>&gt;&gt;7649901</font><br />是ㄛ<br /><font color=789922>&gt;&gt;7649906</font><br />背刺廚你好</blockquote></td></tr></table>
        <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
            <input type=checkbox name="7650187" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                <font color=#117743><b>無名</b></font> 16/04/07(四)17:44:46 ID:2D/1g.D2 No.7650187 <a class=del href="javascript:void(0);" onclick="del(7650187);return(false);">del</a> &nbsp;
            <blockquote><font color=789922>&gt;&gt;No.7650169</font><br /><br />7649897是戰地風雲ㄛ<br />雖然我忘記是哪一代惹</blockquote></td></tr></table>
        <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
            <input type=checkbox name="7650202" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                <font color=#117743><b>無名</b></font> 16/04/07(四)17:49:25 ID:NPsHFysk No.7650202 <a class=del href="javascript:void(0);" onclick="del(7650202);return(false);">del</a> &nbsp;
            <blockquote>battlefiled 4<br />因為歡樂惡搞中國解放軍 所以被和諧</blockquote></td></tr></table>
        <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
            <input type=checkbox name="7650205" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                <font color=#117743><b>無名</b></font> 16/04/07(四)17:49:58 ID:4wyBLZQA No.7650205 <a class=del href="javascript:void(0);" onclick="del(7650205);return(false);">del</a> &nbsp;
                <br>檔名：<a href="http://homu.komica.org/00/src/1460022598058.jpg" target=_blank>1460022598058.jpg</a>-(289406 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460022598058.jpg" target=_blank><img src=http://homu.komica.org/00/thumb/1460022598058s.jpg border=0 align=left width=125 height=90 hspace=20 alt="289406 B"></a><blockquote>看到小愛跟六花在一起已經是我這肥宅剩下不多的幸福之一了..謝謝(´；ω；｀)</blockquote></td></tr></table>
        <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
            <input type=checkbox name="7650211" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                <font color=#117743><b>無名</b></font> 16/04/07(四)17:52:41 ID:SUD4ON.E No.7650211 <a class=del href="javascript:void(0);" onclick="del(7650211);return(false);">del</a> &nbsp;
                <br>檔名：<a href="http://homu.komica.org/00/src/1460022761656.jpg" target=_blank>1460022761656.jpg</a>-(183559 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460022761656.jpg" target=_blank><img src=http://homu.komica.org/00/thumb/1460022761656s.jpg border=0 align=left width=125 height=77 hspace=20 alt="183559 B"></a><blockquote>射精小天使　好久沒看到惹<br />上次的加賀超棒的ㄛ　穴穴ㄛ</blockquote></td></tr></table>
        <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
            <input type=checkbox name="7650212" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                <font color=#117743><b>無名</b></font> 16/04/07(四)17:52:43 ID:ATBdBOcE No.7650212 <a class=del href="javascript:void(0);" onclick="del(7650212);return(false);">del</a> &nbsp;
                <br>檔名：<a href="http://homu.komica.org/00/src/1460022763790.gif" target=_blank>1460022763790.gif</a>-(192558 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460022763790.gif" target=_blank><img src=http://homu.komica.org/00/thumb/1460022763790s.jpg border=0 align=left width=125 height=125 hspace=20 alt="192558 B"></a><blockquote><font color=789922>&gt;這畫風是射精小天使嗎</font><br />看鼻子</blockquote></td></tr></table>
        <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
            <input type=checkbox name="7650216" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                <font color=#117743><b>無名</b></font> 16/04/07(四)17:52:58 ID:GZQY5too No.7650216 <a class=del href="javascript:void(0);" onclick="del(7650216);return(false);">del</a> &nbsp;
                <br>檔名：<a href="http://homu.komica.org/00/src/1460022778583.png" target=_blank>1460022778583.png</a>-(266322 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460022778583.png" target=_blank><img src=http://homu.komica.org/00/thumb/1460022778583s.jpg border=0 align=left width=125 height=125 hspace=20 alt="266322 B"></a><blockquote><font color=789922>&gt;&gt;7650187</font><br /><font color=789922>&gt;&gt;7650202</font><br />真優秀www<br />不過肥宅打娘胎沒玩過FPS<br />最接近的頂多秘境猴王…<br /><br /><font color=789922>&gt;&gt;7650205</font><br />不…不要亂立flag拉(´；ω；｀)<br /><br /><br />啊幹忘記幫NANO DEATH安價搭檔<br />只好露出胸部道歉<br />+2二次元角色</blockquote></td></tr></table>
        <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
            <input type=checkbox name="7650223" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                <font color=#117743><b>無名</b></font> 16/04/07(四)17:55:23 ID:cu8U.gz2 No.7650223 <a class=del href="javascript:void(0);" onclick="del(7650223);return(false);">del</a> &nbsp;
                <br>檔名：<a href="http://homu.komica.org/00/src/1460022923419.jpg" target=_blank>1460022923419.jpg</a>-(989586 B)<br><small>以縮圖顯示，點擊後以原尺寸顯示。</small><br><a href="http://homu.komica.org/00/src/1460022923419.jpg" target=_blank><img src=http://homu.komica.org/00/thumb/1460022923419s.jpg border=0 align=left width=81 height=126 hspace=20 alt="989586 B"></a><blockquote>無本文</blockquote></td></tr></table>
        <table border=0><tr><td nowrap align=right valign=top>…</td><td bgcolor=#F0E0D6>
            <input type=checkbox name="7650234" value=delete><font color=#cc1105 size=+1><b>無題</b></font>
                <font color=#117743><b>無名</b></font> 16/04/07(四)17:57:56 ID:F6tV6dvM No.7650234 <a class=del href="javascript:void(0);" onclick="del(7650234);return(false);">del</a> &nbsp;
            <blockquote>有田春雪</blockquote></td></tr></table>
        <div class=spacer></div></div><br clear=left><hr>
    <table align=right><tr><td nowrap align=center><input type=hidden name=mode value=usrdel>【刪除文章】[<input type=checkbox name=onlyimgdel value=on>僅刪除附加圖檔]<br>刪除密碼 <input type=password name=pwd size=8 maxlength=8 value=""><input type=submit value="刪除"></form></td></tr></table><table align=left border=0><tr><td>　</td></tr></table><br clear=all>
    <center>
        <script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
        <script type="text/javascript">
            _uacct = "UA-114117-2";
            urchinTracker();
            </script>
        <center>
            <br clear=all>
            <table border="0" cellspacing="0" cellpadding="1">
                <tr><td><script type="text/javascript" src="http://sage.komica.org/js/komica_banner.js"></script></table>
            <br clear=all>
            <small>
                - <a href="http://php.s3.to" target=_top>GazouBBS</a> + <a href="http://www.2chan.net/" target=_top>futaba</a> + <a href="http://siokara.que.jp/" target=_top>siokara</a> -<br>All trademarks and copyrights on this page are owned by their respective owners.<br>Images uploaded are the responsibility of the Poster. Comments are owned by the Poster.
            </small>
            <p>
            <table><tr><td>
                <script type="text/javascript" id="tc_ft9dwfgx">
                    var _tcq = _tcq || []; _tcq.push(["blog", "ft9dwfgx"]); 
                    (function() { var e = document.createElement("script"); e.type = "text/javascript"; e.async = true; e.src = "http://widgets.tcimg.com/v2/blog.js"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(e, s); })();
                    </script>
                <td>
                    <script type="text/javascript" id="tc_09c721be63">
                        //var _tcq = _tcq || []; _tcq.push(["blog", "09c721be63"]); 
                        //(function() { var e = document.createElement("script"); e.type = "text/javascript"; e.async = true; e.src = "http://s.tcimg.com/w/v2/blog.js"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(e, s); })();
                        </script>
                    </table>
        </center>
</body>
</html>

