<div class="reply" id="r88457">
<input type="checkbox" name="88457" value="delete" /><span class="title">無念</span> Name <span class="name"></span> [16/04/06(水)22:54 ID:FYhAFZQ2] <a href="pixmicat.php?res=88400&amp;page_num=all#r88457" class="qlink">No.88457</a> &nbsp;<br />&nbsp;画像ファイル名：<a href="http://2cat.twbbs.org/~tedc21thc/anime/src/1459954470573.jpg" rel="_blank">1459954470573.jpg</a>-(15 KB, 640x360) <small>[サムネ表示]</small><br /><a href="http://2cat.twbbs.org/~tedc21thc/anime/src/1459954470573.jpg" rel="_blank"><img src="http://2cat.twbbs.org/~tedc21thc/anime/thumb/1459954470573s.jpg" style="width: 125px; height: 71px;" class="img" alt="15 KB" title="15 KB" /></a>
<div class="quote">請問OP1裡的那女孩裙中，的&quot;那女孩&quot;到底是誰??</div>

<span class="warn_txt">このスレは古いので、もうすぐ消えます。</span><br />
<span class="warn_txt2">レス 3 件省略。全て読むには返信ボタンを押してください。</span><br />
</div>